
@import"../../../assets/styles/variable.scss";
#left_side{
  background-color: blue;
  height: 100vh;
}
#right_side{
  height: 100vh;
}
.container {
  background-color: white;
  height: 430px;
  width:400px;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 0px 7px #00000057;
  border-radius: 10px;
}

.al-input {
  background-color: #EEEEEE;
  color: #777777;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
.left-inner li {
  list-style: none;
  cursor: pointer;
}

.header li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  color:$themeCL;
  font-size: 14px;
  
}
li.active {
  background-color: $btn_bg_cl;
  color:white !important;
  border-radius: 10px;
}

.submit_btn {
  width: 100px;
  height: 35px;
  padding: 6px;
  background-color: $btn_bg_cl;
  color:$btn_cl;
  border-radius: 25px;
  border: none;
}
.submit_btn:hover {
  background-color: $sub_btn_hovar
}
.span_box{
  display: block;
  width: 70%;
}
.welcome {
  color: #000000;
  font-weight: bold;
}
#login_bg_left {
  background-image: url(../../../assets/images/login_bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  border-top-right-radius:50%;
  border-bottom-right-radius: 50%;
}
.login_type_inner {
  font-size: 14px;
  color: white;
  padding: 10px;
  font-size: 20px;

}
.login_type_inner_img {
  /* border-radius: 61px; */
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}
.login_type_inner_img .active {
  background-color: yellow !important;
}
img.login_type_inner_img.active {
  background-color: #8897A9;
}
.left-inner {
  margin-top: 100px;
  margin-left: 100px;
}
.forgot_password {
  line-height: 2.5;
}