
/* Pen-specific styles */
* {
    box-sizing: border-box;
  }
  body {
    font-size: 1.25rem;
    font-family: sans-serif;
    line-height: 150%;
    text-shadow: 0 2px 2px #b6701e;
  }
  
  section {
    color: #fff;
    text-align: center;
  }

  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
  }
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  /* Pattern styles */
  .container {
    display: table;
    width: 100%;
  }
  
  .left-half {
    background-repeat: no-repeat,repeat;
   background-image: url('../../../assets/images/bg_img.png');
    background-position: center;
    position: absolute;
    filter: contrast(1.25);
    left: 0px;
    background-size: cover;
    width: 45%;
  }
  
  .right-half {
    background-color: #dcdcdc;
    position: absolute;
    right: 0px;
    width: 55%;
    height: 100%;
    overflow: auto;
  }
  .left-outerdiv {
    height: 100%;
  }
.rightouterdiv {
    height: 100%;
}

span.image-upload {
  margin-left: 10px;
}
  @import url('https://fonts.googleapis.com/css?family=Poppins');
/* BASIC */
html {
  background-color: #56baed;
}
.row {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

.welcome {
  font-size: 30px;
    color: #ececec;
    word-spacing: 15px;
    letter-spacing: 11px;
    font-weight: bolder;
}

span.error {
    font-size: 14px;
}
/* STRUCTURE */

.wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 15px;
}

#formContent {
  border-radius: 0px;
  background-image: linear-gradient(315deg, #016101 0%, #006000 74%);
    padding: 30px;
    width: 87%;
    box-shadow: 2px 4px 10px 0px #d5d7d8;
    max-width: 500px;
    position: relative;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
}
#formContent1 {
  border-radius: 0px;
  background-image: linear-gradient(315deg, #016101 0%, #006000 74%);
    padding: 30px;
    width: 87%;
    box-shadow: 2px 4px 10px 0px #d5d7d8;
    max-width: 630px;
    position: relative;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.active {
  color: #fffefe;
  border-bottom: 1px solid #0df594;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 4px;
}

.logodiv {
  animation-delay: 0.4s;
  background: #fffefe;
  padding: 11px;
}
/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #0df594;
  border: none;
  color: white;
  padding: 10px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
 
  border-radius: 1px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #0df594;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  border: none;
  color: #716d6d;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  border-left: 3px solid #716d6d;
  border-right: 3px solid #716d6d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

input[type=password] {
  border: none;
    color: #716d6d;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    width: 100%;
    border-left: 3px solid #716d6d;
    border-right: 3px solid #716d6d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

input[type=password]:placeholder {
  color: #cccccc;
}
input[type=text]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.signUpText{
  text-align: center;
    font-weight: bolder;
    color:white;
    font-size: 22px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:20%;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
	// .main-content{width: 90%;}
	.left-half{
		display: none;
	}
	.rightouterdiv {
        width: 100%;
        background-image: url("../../../assets/images/back1.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


//  Signup
.mr-tp-10x{
  margin-top:  10px;
}

.submit {
  width: 150px;
  height: 50px;
  display: inline-block;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }

#submit {
  background: black;
  color: #fff; }
  #submit:hover {
    background-color: #074d23; }

    .login {
      width: 150px;
      height: 50px;
      display: inline-block;
      font-family: 'Poppins';
      font-weight: bold;
      font-size: 14px;
      padding: 10px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px; }
      #login {
        background: rgb(24, 34, 28);
        color: #fff; }
        #login:hover {
          background-color: #323b36; }
   
        .form-outer {
          background: #e8e8e8;
  border: 1px solid #d0cece;
  border-radius: 14px;
  padding: 17px;
  box-shadow: 1px 3px 8px 1px #cecdcd;
  background-color: #fffffc;
  background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
        }

        .formOuter {
          padding: 23px 10px 5px 10px;
          text-align: left;
          font-size: 12px;
        }
        label {
          margin:0;
          font-size: 12px;
          font-weight: bold;
        }
        .logindiv { 
          text-align: initial;
          padding: 10px 25px 0px 25px;
        }
        .logindiv2   {
          text-align: initial;
          padding: 0px 25px 0px 25px;
          margin-top: -14px;
        }
        .error-login {
          font-size: 12px;
        }
        .welcome1 {
          font-size: 23px;
          margin-top: 13px;
          word-spacing: 10px;
        }