<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id=login_bg_left>
      <img class="mt-2" src="../../../assets/images/logo.png" alt="">
      <div class="left-inner">
        
        <ul>
          <li class="login_type_inner">Log In with</li>
          <li class=""> <span class=""> <img class="login_type_inner_img active" src="../../../assets/images/type_prodcast.png" alt="Podcaster"></span> <span class="login_type_inner"> Podcaster</span></li>
          <li class=""> <span class=""> <img class="login_type_inner_img" src="../../../assets/images/type_guest.png" alt="Guest"></span> <span class="login_type_inner"> Guest</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6" id=right_side>
      <div class="header mt-4">
        <ul>
          <li>Home</li>
          <li>How It Work</li>
          <li>Blog</li>
          <li>Contact Us</li>
          <li class="active">Log In</li>
          <li>Sign Up</li>
        </ul>
      </div>
     <div class="container">
      <img class="mt-1" src="../../../assets/images/logo.png" alt="">
      <p class="welcome">WELCOME</p>
      <form class=" ml-3 mr-3" id="form-login"
      [formGroup]="loginForm"
  >
      <div class="mt-4">
          <div class="form-group"
          [class.hasError]="loginForm?.controls.email.errors && loginForm?.get('email')?.touched">
              <input
                  class="w-100 al-input" type="text"
                  name="email" placeholder="Email"
                  formControlName="email"
              >
              <div
              *ngIf="loginForm?.controls.email.errors && loginForm?.get('email')?.touched"
              class="error-wrappers"
          >
              <span class="error" *ngIf="loginForm.controls.email.errors.required">* Email is required</span>
              <span class="error" *ngIf="loginForm.controls.email.errors.pattern">* Invalid email</span>
          </div>
          </div>
      </div>
      <div class="mt-4">
          <div class="form-group"
          [class.hasError]="loginForm?.controls.password.errors && loginForm?.get('password')?.touched">
              <input
                  class="w-100 al-input" type="password"
                  name="password" placeholder="Password"
                  formControlName="password"
              >
          <div
              *ngIf="loginForm?.controls.password.errors && loginForm?.get('password')?.touched"
              class="error-wrappers"
          >
              <span class="error" *ngIf="loginForm.controls.password.errors.required">* Password is required</span>
              <span class="error" *ngIf="loginForm.controls.password.errors.minlength">* Password must be minimum 6 character long</span>
          </div>
          </div>

      </div>
      </form>
      <div class="row">
        <div class="col-md-6 forgot_password"> Forgot Password ?</div>
        <div class="col-md-6"> <button class="submit_btn" (click)="login()"> Log In</button></div>
      </div>
      <p class="mt-3">
        Sign in with Social Accounts ?
      </p>
      <span> <img src="../../.././assets/images/google.png" alt="Google">  </span>
      <span> <img src="../../.././assets/images/facebook.png" alt="Facebook">  </span>

     </div>
    </div>
  </div>
</div>