<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile">
    <!-- User profile image -->
    <div class="profile-img"> <img src="/assets/images/logo.png" alt="user"> </div>
    
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <!-- <div class="profile-text"><a  class="">Rtds-App <i class="ti-angle-down font-12 m-l-5"></i></a></div> -->
    <!-- <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu> -->
    
</div>
<mat-nav-list appAccordion>
    <!-- <p class="opDetail">{{operatorDetail.fullName}}</p> -->
    <p class="opDetail">{{operatorDetail.email}}</p>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="[menuitem.state]" *ngIf="menuitem.type === 'link'">
            <span class="icon"> <img src="{{menuitem.iconUrl}}"></span>
            <span class="menu-label">{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>

        
    </mat-list-item>
    
</mat-nav-list>