.opDetail {
    font-size: 15px;
    text-align: center;
    color: #417f4b;
    padding: 0px;
    margin: 0px;
    text-transform: lowercase;
}

a.last {
    margin-top: 50px;
}


.sidebar-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


span.menu-label {
    margin-left: 19px;
    font-size: 15px;
    color: #777;
    font-weight: 400;
    font-size: 15px;
    /* font-weight: bold; */
}
.link {
    position: fixed;
    bottom: 20px;
    text-align: center;
    left: 42px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    
}