<header class="header home-page-one" style="background-image: url(img\about.jpg);">
    <nav class="navbar navbar-expand-lg navbar-dark  static-top">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <img src="/assets/images/logo 2.png" alt="Awesome Image" style="max-width: 100%" class="default-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item "> <a routerLink="/about" class="nav-link current">About Us</a> </li>
                    <li class="nav-item"> <a routerLink="/login" class="nav-link">Register</a> </li>
                    <li class="nav-item"> <a routerLink="/faq" class="nav-link ">FAQ</a> </li>
                    <li class="nav-item"> <a routerLink="/helpDesk" class="nav-link">Help Desk</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="header-text">
        <div class="container-flex main-custom">
            <div class="row">
                <span class="center-block"> <h1>About Us</h1></span>
            </div>
        </div>
    </section>
</header><!-- /.header -->
<section class="app-features container-fluid" id="features" style="background:#f9f7f7;">
    <br/> <br/> <br/>
    <div class="sec-title text-center container" style="margin-bottom: 1%; ">
        <div class="row Abouter">
            <div class="col-md-6">
                <h2>About Maap</h2>
                <p class="about-page-text">The Road Transport Data Capture (Maap) initiative of the Federal Ministry of Transport (FMOT) is an integrated technology protocol aimed at improving the
                    road transport landscape by promoting safety and security, efficient contact tracing and social economic planning through effective commuter data collection and analysis.
                </p>
                <br/>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/about3.png" class="img-responsive"/>
            </div>
        </div>
        <br/> <br/> <br/> <br/>
        <div class="row abouter2">
            <div class="col-md-12 vision">
                <img src="/assets/images/vision.png" class="img-responsive" />
                <br/>
                <h2>Vision</h2>
                <p class="about-page-text">To build smarter road transport systems leveraging technology </p>
                <br/>
            </div>
        </div>
    </div>
</section>
<section class="app-features" id="features">
    <div class="container">
        <div class="sec-title text-center" style="margin-bottom: 1%; ">
            <div class="row">
                <div class="col-sm-6">
                    <br/> <br/> <br/>
                    <img src="/assets/images/mision.png" class="img-responsive center-block" />
                    <br/>
                    <h2>Mission</h2>
                    <p class="about-page-text">Maap is committed to incorporating global best practices in the holistic management of road transport systems with the aim of regulating the industry for more efficient and effective operations while giving value to all stakeholders.
                    </p>
                    <br/>
                </div>
                <div class="col-sm-6">
                    <br/> <br/> <br/>
                    <img src="/assets/images/objective.png" class="img-responsive center-block" />
                    <br/>
                    <h2>Objectives</h2>
                    <ul class="ul about-page-text">
                        <li>To be the go to resource for road transport data in Nigeria</li>
                        <li>To position the industry for efficient social-economic planning</li>
                        <li>To regulate the road transport industry leveraging technology</li>
                        <li>To enhance commuter safety and security</li>
                        <li>To provide immense value to all stake holders</li>
                    </ul>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>
<app-lg-footer></app-lg-footer>
