// Footer Style
.site-footer
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
    .social-icons li {
        display: inline-block;
        color: white;
        margin-bottom: 4px;
        margin: 0 1em 0 0 !important;
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
    .flexy {
        display: flex;
        justify-content: space-between;
    }

    .flexy img {
        width: 40% !important;
    }

    .flexy .col-sm-3 {
        padding: 20% !important;
    }
    .something {
        margin-top:5em;
    }
}

.social-icons li {
    display: inline-block;
    color: white;
    margin-bottom: 4px;
    margin: 0 2em;
}

// main style


.flex-title {
    height: 200px;
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;

}

.flex-title h2 {
    flex-basis: 70%;
}

.flex-title button {
    border-radius: 20px;
    flex-basis: 30%  n;
}

.thm-btn {
    display: inline-block;
    border: none;
    outline: none;
    background: #6541c1;
    background: -webkit-gradient(left top, right top, color-stop(0%, #2098d1), color-stop(98%, #2a208d), color-stop(100%, #2a208d));
    background: -webkit-gradient(linear, left top, right top, from( #2098d1), color-stop(98%, #2a208d), to(#2a208d));
    background: linear-gradient(to right, #2098d1 0%, #2a208d 78%, #2a208d 100%);

}
.how-app-work-section .single-how-app-work .icon-box .inner {

    background: -webkit-gradient(left top, right top, color-stop(0%, #2098d1), color-stop(98%, #2a208d), color-stop(100%, #2a208d));
    background: -webkit-gradient(linear, left top, right top, from( #2098d1), color-stop(98%, #2a208d), to(#2a208d));
    background: linear-gradient(to right, #2098d1 0%, #2a208d 78%, #2a208d 100%);

}
.scroll-to-top {

    background: -webkit-gradient(left top, right top, color-stop(0%, #2098d1), color-stop(98%, #2a208d), color-stop(100%, #2a208d));
    background: -webkit-gradient(linear, left top, right top, from( #2098d1), color-stop(98%, #2a208d), to(#2a208d));
    background: linear-gradient(to right, #2098d1 0%, #2a208d 78%, #2a208d 100%);

}

@media screen and (max-width:800px) {
    .navbar-brand > img {
        margin-top: -18%;
    }
}

.banner-static {
    background: #fff url(/assets/images/background.png);
    padding-top: 190px;
    overflow: hidden;
    background-size: cover;
    height: 1200px;
}

.how-app-work-section .single-how-app-work .icon-box .inner i {
    background: -webkit-gradient(linear, left top, right top, from(#ffcc2a), color-stop(98%, #222525), to(#222525));
    background: linear-gradient(to right, #ffcc2a 0%, #b08c19 98%, #222525 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 74px;
    font-size: 44px;
    position: relative;
}

.how-app-work-section .single-how-app-work .icon-box .inner {
    background: -webkit-gradient(left top, right top, color-stop(0%, #2098d1), color-stop(98%, #2a208d), color-stop(100%, #2a208d));
    background: -webkit-gradient(linear, left top, right top, from( #ffcc2a), color-stop(98%, #ffcc2a), to(#222525));
    background: linear-gradient(to right, #ffcc2a 0%, #a48421 78%, #222525 100%);
}
/* .banner-static {
    background:yellow;
    padding-top: 190px;
    overflow: hidden;
} */

.how-app-work-section .download-btn {
    display: inline-block;
    vertical-align: middle;
    background: #ffcc2a;
    background: -webkit-gradient(left top, right top, color-stop(0%, #6541c1), color-stop(98%, #d43396), color-stop(100%, #d43396));
    background: -webkit-gradient(linear, left top, right top, from(#ffcc2a), color-stop(98%, #ffcc2a), to(#222525));
    background: linear-gradient(to right, #ffcc2a 0%, #000000 98%, #222525 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6541c1', endColorstr='#d43396', GradientType=1);
    position: relative;
    padding: 12px 0;
    padding-left: 80px;
    border-radius: 28px;
    padding-right: 40px;
}

.how-app-work-section .download-btn span.avail, .how-app-work-section .download-btn span.store-name {
    display: block;
    background: -webkit-gradient(linear, left top, right top, from(#ffcc2a), color-stop(98%, #222525), to(#222525));
    background: linear-gradient(to right, #ffcc2a 0%, #ffcc2a 98%, #222525 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    line-height: 1em;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.how-app-work-section .download-btn i.fab {
    font-size: 30px;
    background: -webkit-gradient(linear, left top, right top, from(#6541c1), color-stop(98%, #d43396), to(#d43396));
    background: linear-gradient(to right, #ffcc2a 0%, #ffcc2a 98%, #d43396 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.header-navigation.stricky-fixed ul.navigation-box > li.active > a, .header-navigation.stricky-fixed ul.navigation-box > li.current > a, .header-navigation.stricky-fixed ul.navigation-box > li > a:active, .header-navigation.stricky-fixed ul.navigation-box > li > a:focus, .header-navigation.stricky-fixed ul.navigation-box > li:hover > a {
    color: #ffcc2a;
}
.intigration-section .intigration-img-box img:nth-child(1) {
    top: -40%;
    right: 85px;
}

.intigration-section {
    background: #FDF9EA;
}
footer.footer .subscribe-section .subscribe-form {
    background: #6541c1;
    background: -webkit-gradient(left top, right top, color-stop(0%, #6541c1), color-stop(98%, #d43396), color-stop(100%, #d43396));
    background: -webkit-gradient(linear, left top, right top, from(#6541c1), color-stop(98%, #d43396), to(#d43396));
    background: linear-gradient(to right, #000000 0%, #ffcc2a 98%, #e0b325 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6541c1', endColorstr='#d43396', GradientType=1);
    border-radius: 60px;
    padding: 34px 35px;
    padding-left: 70px;
    -webkit-box-shadow: 0px 23px 42px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 23px 42px rgba(0, 0, 0, 0.2);
}

.scroll-to-top {
    background: -webkit-gradient(left top, right top, color-stop(0%, #2098d1), color-stop(98%, #2a208d), color-stop(100%, #2a208d));
    background: -webkit-gradient(linear, left top, right top, from( #2098d1), color-stop(98%, #2a208d), to(#2a208d));
    background: linear-gradient(to right, #ffcc2a 0%, #ffcc2a 78%, #ffcc2a 100%);
}
.header-navigation ul.navigation-box > li > a {
    padding: 5px 0;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    letter-spacing: .01em;
}

.header-text {
    height:200px;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items:flex-start;
}

.header-text .container-flex {
    color: #000000;
}

.header-text h1 {
    font-size: 50px;
}

.header-text p {
    width: 70%;
    margin: auto;
}

.container-flex span {

    /* align-self: center; */
    height: 20%;
}

.fun-fact .separator {
    display: block;
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background: rgba(83, 82, 83, 0.15);
    margin-top: 70px;
    margin-bottom: 75px;
}

.header {
    position: relative;
    padding-top: 50px;
    top: 0 !important;
    left: 0;
    background-color: #e6f2eb;
    background-size: cover;
    background-image:url(/assets/images/about1.png) !important ;
    width: 100%;
    z-index: 999;
}
.main-custom {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    padding: 20px;
    text-align:center;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /*margin-top: -10%;*/
    background: white;
    border-radius: 7px;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row-flex {
    display: flex;
    justify-content: space-between;
}

.row-flex .card {
    flex-basis: 29%;
}
.app-features {
    padding-bottom: 15px;
}

.blue-section {
    background: #1E2B2F;
    color: white;
    padding:10% 0 10% 0;
}

.blue-section p, h4 {
    color: white;
}

.Abouter h2 , .Abouter p {
    text-align: left;
}

.Abouter h2 {
    border-bottom: 2px solid #118943;
    width: 40%;
    padding-bottom: .2em;
}

.vision h2 , .vision p {
    text-align: center;
}

.vision img {
    margin:auto;
}

.vision h2 {
    border-bottom: 2px solid #118943;
    width: 10%;
    margin: auto;
    padding-bottom: .2em;

}

.ul {
    list-style: none;
    margin-top: 0;
}

.ml-7x {
    margin-left: 70px;
}

.ul li {
    text-align: left;
}
.ul li::before {
    content: "\2022";
    color: #118943;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


.site-footer
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
    .social-icons li {
        display: inline-block;
        color: white;
        margin-bottom: 4px;
        margin: 0 1em 0 0 !important;
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}

.header-navigation ul.navigation-box > li > a {
    padding: 5px 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    letter-spacing: .01em;
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .Abouter h2 {
        border-bottom: 2px solid #118943;
        width: 100%;
        padding-bottom: .2em;
    }
    .vision h2 {
        border-bottom: 2px solid #118943;
        width: 40%;
        margin: auto;
        padding-bottom: .2em;
    }
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
    .flexy {
        display: flex;
        justify-content: space-between;
    }

    .flexy img {
        width: 40% !important;
    }

    .flexy .col-sm-3 {
        padding: 20% !important;
    }
    .something {
        margin-top:5em;
    }
}

.social-icons li {
    display: inline-block;
    color: white;
    margin-bottom: 4px;
    margin: 0 2em;
}

// Inline Style
.navbar-dark .navbar-nav .nav-link {
    color: black;
}

@media screen and (max-width: 800px) {
    .Abouter .col-md-6 {
        flex-basis: 100% !important;
    }
    .Abouter .col-md-6 img {
        max-width: 100% !important;
    }
}

.abouter2 {
    justify-content: center;
}

.vision h2 {
    border-bottom: 2px solid #118943;
    margin: auto;
    padding-bottom: .2em;
}

.ul li {
    text-align: left;
    line-height: 22px;
}

.header {
    position: relative;
    padding-top: 15px;
    top: 0 !important;
    left: 0;
    background-color: #e6f2eb;
    background-size: cover;
    background-image: url(/assets/images/about1.png) !important;
    width: 100%;
    z-index: 999;
}

.ul {
    padding-left: 45px;
}

.app-features h2 {
    color: #170B35;
    font-weight: 600;
    margin-bottom: 0;
}

.about-page-text {
    font-size: 14px;
    color: #656565;
    margin-top: 20px;
}

.navbar-dark .navbar-toggler {
    background-color: #000;
}

.header {
    .navbar a {
        &:hover {
            text-decoration: underline;
        }
    }
}

li.nav-item {
    font-weight: bold;
    padding: 10px;
}
