        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<div class="header-actions">
    <a class="mat-link-button" [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
        <span class="al_code ">
            <small>Operator Code</small>
            {{operatorCode.operatorCode}}</span><mat-icon>arrow_drop_down</mat-icon>
    </a>
</div>
<mat-menu #profile="matMenu" class="mymegamenu">
    
    <!-- <a mat-menu-item class="keyicon" (click)="navigateAPI()" >
        <mat-icon [style.color]="'#FF5959'">vpn_key</mat-icon> API KEY 
    </a> -->
    
    <a mat-menu-item [routerLink]="['/main/setting/']" 
    [queryParams]="{
      type:'Cancellation Policy'
    }" >
        <mat-icon [style.color]="'#FF5959 '">note_add</mat-icon> Cancellation Policy </a>

        <a mat-menu-item [routerLink]="['/main/setting/']" 
        [queryParams]="{
          type:'Terms and Conditions'
        }" >
            <mat-icon [style.color]="'#0010EA'">assignment</mat-icon> Terms And Conditions </a>

        <a mat-menu-item [routerLink]="['/main/setting/']" 
    [queryParams]="{
      type:'Privacy Policy '
    }" >
        <mat-icon [style.color]="'#04A4F2'">description</mat-icon> Privacy Policy </a>


    <button (click)="logoutUser()" mat-menu-item>
        <mat-icon [style.color]="'#7D0CE4'">exit_to_app</mat-icon> Sign Out </button>
</mat-menu>
