.al_box{
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.al_box:before,
.al_box:after{
    position: absolute;
    left: -50px;
    top: -20px;
    background-color: #eee;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    content: "";
    z-index: 0;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.al_box:after{
    position: absolute;
    top: -50px;
    right: -20px;
    height: 100px;
    width: 100px;
    left: auto;
}

.al_box ul{
    padding: 0;
    margin: 0;
    z-index: 1;
    position: relative;
}
.al_box ul li{
    display: inline-block;
    color: #777;
    vertical-align: middle;
}
.al_p-4{
    padding: 14px;
}
.al_p-3{
    padding: 20px;
}
.al_mr{
    margin-right: 10px; 
}
.al_color b{
    font-size: 30px;
    display: block;
}
.total_trip b{
    color: #30A990;
}
.al_box.total_trip:before,
.al_box.total_trip:after{
    background-color: #30A990;
}
.total_drivers b{
    color: #EB9026;
}
.al_box.total_drivers:before,
.al_box.total_drivers:after{
    background-color: #EB9026;
}
.total_vehicle b{
    color: #264CEB;
}
.al_box.total_vehicle:before,
.al_box.total_vehicle:after{
    background-color: #264CEB;
}
.total_passenger b{
    color: #C726EB;
}
.al_box.total_passenger:before,
.al_box.total_passenger:after{
    background-color: #C726EB;
}
.total_revenue b{
    color: #8AA930;
}
.al_box.total_revenue:before,
.al_box.total_revenue:after{
    background-color: #8AA930;
}
.total_pending b{
    color: #DA0E0E;
}
.al_box.total_pending:before,
.al_box.total_pending:after{
    background-color: #DA0E0E;
}
.total_paid b{
    color: #0EAADA;
}
.al_box.total_paid:before,
.al_box.total_paid:after{
    background-color: #0EAADA;
}
.total_operators b{
    color: #369EE8;
}
.al_box.total_operators:before,
.al_box.total_operators:after{
    background-color: #369EE8;
}
.total_officers b{
    color: #6B22AE;
}
.al_box.total_officers:before,
.al_box.total_officers:after{
    background-color: #6B22AE;
}
.al_box:hover:before{
    opacity: .1;
}
.al_box:hover:after{
    opacity: .1;
}