<!-- <iframe    src="https://reports.rtds.tech/public/dashboard/c754d715-cc0f-4627-9907-0aab808db44a"    frameborder="0"    width="100%"    height="1500"    allowtransparency></iframe>
<app-spinner *ngIf="isLoading"></app-spinner> -->

<app-spinner *ngIf="isLoading"></app-spinner>


<div class="container mt-4">
   <div class="row">
      <div class="col" routerLink= "/main/trips-management/view-trips">
         <div class="al_box total_trip al_p-3">
            <ul>
               <li class="al_mr">
                  <svg width="60px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                      <!-- <title>trip</title> -->
                      <desc>Created with Sketch.</desc>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Data-save" transform="translate(-342.000000, -158.000000)" fill="#2FA990" fill-rule="nonzero">
                              <g id="trip" transform="translate(342.000000, 158.000000)">
                                  <path d="M27.3195703,0 C27.8049609,0 28.1985938,0.393515625 28.1985938,0.87890625 C28.1985938,1.36429687 27.8049609,1.7578125 27.3195703,1.7578125 L27.3195703,1.7578125 L25.8546094,1.7578125 L25.8546094,9.92355469 L32.8101563,9.92355469 C35.0744531,9.92355469 36.9167578,11.7655078 36.9167578,14.0296875 L36.9167578,14.0296875 L36.9167578,16.6060547 C36.9167578,17.0914453 36.523125,17.4849609 36.0376172,17.4849609 C35.5521094,17.4849609 35.1585938,17.0914453 35.1585938,16.6060547 L35.1585938,16.6060547 L35.1585938,14.0296875 C35.1585938,12.7347656 34.1051953,11.6813672 32.8101563,11.6813672 L32.8101563,11.6813672 L4.10648438,11.6813672 C2.8115625,11.6813672 1.75804688,12.7347656 1.75804688,14.0296875 L1.75804688,14.0296875 L1.75804688,52.1064844 C1.75804688,53.4014063 2.8115625,54.4548047 4.10648438,54.4548047 L4.10648438,54.4548047 L32.8102734,54.4548047 C34.1051953,54.4548047 35.1587109,53.4014063 35.1587109,52.1064844 L35.1587109,52.1064844 L35.1587109,20.7205078 C35.1587109,20.2351172 35.5522266,19.8416016 36.0377344,19.8416016 C36.5232422,19.8416016 36.9167578,20.2351172 36.9167578,20.7205078 L36.9167578,20.7205078 L36.9167578,52.1064844 C36.9167578,54.1701562 35.3864063,55.8829687 33.4008984,56.1701953 L33.4008984,56.1701953 L33.4008984,57.3632812 C33.4008984,58.8172266 32.2178906,60 30.7639453,60 C29.3098828,60 28.1269922,58.8172266 28.1269922,57.3632812 L28.1269922,57.3632812 L28.1269922,56.2126172 L8.78976563,56.2126172 L8.78976563,57.3632812 C8.78976563,58.8172266 7.606875,60 6.1528125,60 C4.69875,60 3.51585938,58.8172266 3.51585938,57.3632813 L3.51585938,57.3632813 L3.51585938,56.1701953 C1.53035156,55.8830859 7.20090654e-12,54.1701563 7.20090654e-12,52.1064844 L7.20090654e-12,52.1064844 L7.20090654e-12,14.0296875 C7.20090654e-12,11.7655078 1.84207031,9.92355469 4.10648438,9.92355469 L4.10648438,9.92355469 L11.0620313,9.92355469 L11.0620313,1.7578125 L9.59707031,1.7578125 C9.1115625,1.7578125 8.71804688,1.36429687 8.71804688,0.87890625 C8.71804688,0.393515625 9.11167969,0 9.59707031,0 L9.59707031,0 Z M46.1112891,21.3253125 C47.6530078,21.3253125 48.9072656,22.5794531 48.9072656,24.1210547 L48.9072656,24.1210547 L48.9072656,27.4647656 L55.8935156,27.4647656 C58.1578125,27.4647656 60,29.3067187 60,31.5708984 L60,31.5708984 L60,52.1064844 C60,54.0690234 58.6158984,55.7144531 56.7725391,56.1180469 L56.7725391,56.1180469 L56.7725391,57.3633984 C56.7725391,58.8173437 55.5896484,60.0001172 54.1355859,60.0001172 C52.6815234,60.0001172 51.4986328,58.8173437 51.4986328,57.3633984 L51.4986328,57.3633984 L51.4986328,56.2127344 L39.4953516,56.2127344 C39.0098438,56.2127344 38.6163281,55.8192187 38.6163281,55.3338281 C38.6163281,54.8484375 39.0098438,54.4549219 39.4953516,54.4549219 L39.4953516,54.4549219 L55.8935156,54.4549219 C57.1884375,54.4549219 58.2420703,53.4015234 58.2420703,52.1066016 L58.2420703,52.1066016 L58.2420703,51.2534766 L39.4953516,51.2534766 C39.0098438,51.2534766 38.6163281,50.8599609 38.6163281,50.3745703 C38.6163281,49.8891797 39.0098438,49.4956641 39.4953516,49.4956641 L39.4953516,49.4956641 L58.2420703,49.4956641 L58.2420703,47.1795703 L55.2517969,47.1795703 C54.7662891,47.1795703 54.3727734,46.7860547 54.3727734,46.3006641 C54.3727734,45.8152734 54.7662891,45.4217578 55.2517969,45.4217578 L55.2517969,45.4217578 L58.2420703,45.4217578 L58.2420703,31.5708984 C58.2420703,30.2759766 57.1885547,29.2225781 55.8935156,29.2225781 L55.8935156,29.2225781 L48.9072656,29.2225781 L48.9072656,30.9796875 L50.7651563,32.8721484 C50.9264063,33.0364453 51.016875,33.2575781 51.016875,33.4878516 L51.016875,33.4878516 L51.016875,38.8784766 C51.016875,39.3638672 50.6233594,39.7573828 50.1378516,39.7573828 L50.1378516,39.7573828 L45.91875,39.7573828 C45.4332422,39.7573828 45.0397266,39.3638672 45.0397266,38.8784766 L45.0397266,38.8784766 L45.0397266,33.4878516 C45.0397266,33.2575781 45.1301953,33.0364453 45.2914453,32.8721484 L45.2914453,32.8721484 L47.1493359,30.9796875 L47.1493359,29.2225781 L39.4954688,29.2225781 C39.0099609,29.2225781 38.6163281,28.8290625 38.6163281,28.3436719 C38.6163281,27.8582813 39.0099609,27.4647656 39.4954688,27.4647656 L39.4954688,27.4647656 L47.1493359,27.4647656 L47.1493359,24.1210547 C47.1493359,23.5488281 46.6836328,23.083125 46.1112891,23.083125 L46.1112891,23.083125 L39.4954688,23.083125 C39.0099609,23.083125 38.6163281,22.6896094 38.6163281,22.2042188 C38.6163281,21.7188281 39.0099609,21.3253125 39.4954688,21.3253125 L39.4954688,21.3253125 Z M31.6427344,56.2126172 L29.8846875,56.2126172 L29.8846875,57.3632813 C29.8846875,57.8479688 30.2790234,58.2421875 30.7637109,58.2421875 C31.2483984,58.2421875 31.6427344,57.8479688 31.6427344,57.3632813 L31.6427344,57.3632813 L31.6427344,56.2126172 Z M7.03171875,56.2126172 L5.27378906,56.2126172 L5.27378906,57.3632813 C5.27378906,57.8479688 5.66800781,58.2421875 6.15269531,58.2421875 C6.63738281,58.2421875 7.03171875,57.8479688 7.03171875,57.3632813 L7.03171875,57.3632813 L7.03171875,56.2126172 Z M55.014375,56.2126172 L53.2564453,56.2126172 L53.2564453,57.3632812 C53.2564453,57.8479687 53.6507813,58.2421875 54.1354688,58.2421875 C54.6201563,58.2421875 55.0144922,57.8479687 55.0144922,57.3632812 L55.014375,57.3632812 L55.014375,56.2126172 Z M32.5217578,31.3688672 C33.0072656,31.3688672 33.4007813,31.7623828 33.4007813,32.2477734 L33.4007813,32.2477734 L33.4007813,51.8180859 C33.4007813,52.3034766 33.0072656,52.6969922 32.5217578,52.6969922 L32.5217578,52.6969922 L11.9273438,52.6969922 C11.4419531,52.6969922 11.0483203,52.3034766 11.0483203,51.8180859 C11.0483203,51.3326953 11.4419531,50.9391797 11.9273438,50.9391797 L11.9273438,50.9391797 L31.6427344,50.9391797 L31.6427344,33.1266797 L5.27378906,33.1266797 L5.27378906,50.9391797 L7.91074219,50.9391797 C8.39625,50.9391797 8.78976563,51.3326953 8.78976563,51.8180859 C8.78976563,52.3034766 8.39613281,52.6969922 7.91074219,52.6969922 L7.91074219,52.6969922 L4.39488281,52.6969922 C3.909375,52.6969922 3.51585938,52.3034766 3.51585938,51.8180859 L3.51585938,51.8180859 L3.51585938,32.2477734 C3.51585938,31.7623828 3.90949219,31.3688672 4.39488281,31.3688672 L4.39488281,31.3688672 Z M51.1899609,45.4217578 C51.6754688,45.4217578 52.0689844,45.8152734 52.0689844,46.3006641 C52.0689844,46.7860547 51.6754688,47.1795703 51.1899609,47.1795703 L51.1899609,47.1795703 L39.4953516,47.1795703 C39.0098438,47.1795703 38.6163281,46.7860547 38.6163281,46.3006641 C38.6163281,45.8152734 39.0098438,45.4217578 39.4953516,45.4217578 L39.4953516,45.4217578 Z M29.0060156,34.8416016 C29.4915234,34.8416016 29.8850391,35.2351172 29.8850391,35.7205078 C29.8850391,36.2058984 29.4915234,36.5994141 29.0060156,36.5994141 L29.0060156,36.5994141 L27.0723047,36.5994141 L27.0723047,39.4542187 C27.0723047,39.9396094 26.6786719,40.333125 26.1932813,40.333125 C25.7077734,40.333125 25.3142578,39.9396094 25.3142578,39.4542187 L25.3142578,39.4542187 L25.3142578,36.5994141 L7.91074219,36.5994141 C7.42523438,36.5994141 7.03171875,36.2058984 7.03171875,35.7205078 C7.03171875,35.2351172 7.42535156,34.8416016 7.91074219,34.8416016 L7.91074219,34.8416016 Z M48.0282422,32.5937109 L46.7976563,33.8471484 L46.7976563,37.9995703 L49.2588281,37.9995703 L49.2588281,33.8471484 L48.0282422,32.5937109 Z M24.3180469,18.7041797 C24.8035547,18.7041797 25.1970703,19.0976953 25.1970703,19.5830859 L25.1970703,19.5830859 L25.1970703,23.0987109 C25.1970703,23.5841016 24.8034375,23.9776172 24.3180469,23.9776172 L24.3180469,23.9776172 L12.5984766,23.9776172 C12.1129688,23.9776172 11.7194531,23.5841016 11.7194531,23.0987109 L11.7194531,23.0987109 L11.7194531,19.5830859 C11.7194531,19.0976953 12.1130859,18.7041797 12.5984766,18.7041797 L12.5984766,18.7041797 Z M23.4391406,20.4619922 L13.4775,20.4619922 L13.4775,22.2198047 L23.4391406,22.2198047 L23.4391406,20.4619922 Z M24.0966797,1.7578125 L12.8199609,1.7578125 L12.8199609,9.92355469 L24.0966797,9.92355469 L24.0966797,1.7578125 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
               </li>
               <li class="al_color "><b>{{dashCount?.totalTrips}}</b> Total Trips</li>
            </ul>
         </div>
      </div>

      <div class="col" routerLink= "/main/driver/view">
         <div class="al_box total_drivers al_p-3">
            <ul>
               <li class="al_mr">
                  <svg width="50px" height="50px" viewBox="0 0 50 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                      <!-- <title>driver</title> -->
                      <desc>Created with Sketch.</desc>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Data-save" transform="translate(-610.000000, -160.000000)" fill="#EB9026" fill-rule="nonzero">
                              <g id="driver" transform="translate(610.000000, 160.000000)">
                                  <path d="M24.8835938,0 C26.4440625,0 27.7135547,1.26949219 27.7135547,2.82996094 L27.7135547,2.82996094 L27.7135547,3.90421875 L31.6570313,3.90421875 C35.4410156,3.90421875 38.5196484,6.98425781 38.5196484,10.7702344 C38.5196484,11.255625 38.1261328,11.6491406 37.6407422,11.6491406 C37.1553516,11.6491406 36.7618359,11.255625 36.7618359,10.7702344 C36.7618359,7.95351563 34.471875,5.66203125 31.6570313,5.66203125 L31.6570313,5.66203125 L18.1545703,5.66203125 C15.3397266,5.66203125 13.0496484,7.95351563 13.0496484,10.7702344 L13.0496484,10.7702344 L13.0496484,18.5698828 C20.8660547,16.7027344 28.9458984,16.7027344 36.7617188,18.5697656 L36.7617188,18.5697656 L36.7617188,14.8742578 C36.7617188,14.3888672 37.1552344,13.9953516 37.640625,13.9953516 C38.1260156,13.9953516 38.5195313,14.3888672 38.5195313,14.8742578 L38.5195313,14.8742578 L38.5195313,19.0219922 C39.0786328,19.1764453 39.6364453,19.3391016 40.1921484,19.5128906 C40.6553906,19.6577344 40.9134375,20.1507422 40.7685938,20.6141016 C40.6509375,20.9900391 40.3040625,21.2308594 39.93,21.2308594 C39.8430469,21.2308594 39.7548047,21.2178516 39.6673828,21.1905469 C38.8669922,20.9402344 38.0625,20.7126562 37.2550781,20.5038281 L37.2550781,20.5038281 L37.2528516,21.6726562 C38.1124219,21.8433984 38.9010938,22.2658594 39.5312109,22.9038281 C40.3693359,23.7522656 40.8229688,24.8762109 40.8083203,26.0685938 C40.7828906,28.1392969 39.3134766,29.8771875 37.3710938,30.3270703 C37.3721484,30.3921094 37.3750781,30.4571484 37.3750781,30.5220703 C37.3750781,33.5634375 34.9144922,37.0952344 30.0616406,41.0191406 C29.7558984,41.2674609 29.4325781,41.4907031 29.0964844,41.6907422 C28.9522266,42.3659766 28.9042969,43.4896875 29.0657813,44.2851562 L29.0657813,44.2851562 L36.6738281,46.1321484 L36.6738281,44.1485156 L33.9607031,44.1485156 C33.4753125,44.1485156 33.0817969,43.755 33.0817969,43.2696094 C33.0817969,42.7842187 33.4753125,42.3907031 33.9607031,42.3907031 L33.9607031,42.3907031 L46.5832031,42.3907031 C48.3723047,42.3907031 49.8278906,43.846875 49.8278906,45.6367969 L49.8278906,45.6367969 L49.8278906,59.1210937 C49.8278906,59.6064844 49.434375,60 48.9489844,60 C48.4635938,60 48.0700781,59.6064844 48.0700781,59.1210937 L48.0700781,59.1210937 L48.0700781,45.6366797 C48.0700781,44.8161328 47.4030469,44.1485156 46.5832031,44.1485156 L46.5832031,44.1485156 L41.9472656,44.1485156 L41.9472656,47.4719531 C44.5853906,48.5073047 46.3782422,51.0888281 46.3782422,53.9626172 L46.3782422,53.9626172 L46.3782422,59.1210937 C46.3782422,59.6064844 45.9847266,60 45.4993359,60 C45.0139453,60 44.6204297,59.6064844 44.6204297,59.1210937 L44.6204297,59.1210937 L44.6204297,53.9626172 C44.6204297,52.0550391 43.5641016,50.3199609 41.9472656,49.4123437 L41.9472656,49.4123437 L41.9472656,59.1210937 C41.9472656,59.6064844 41.55375,60 41.0683594,60 C40.5829688,60 40.1894531,59.6064844 40.1894531,59.1210937 L40.1894531,59.1210937 L40.1894531,44.1485156 L38.4316406,44.1485156 L38.4316406,59.1210937 C38.4316406,59.6064844 38.038125,60 37.5527344,60 C37.0673438,60 36.6738281,59.6064844 36.6738281,59.1210937 L36.6738281,59.1210937 L36.6738281,47.9410547 L29.1049219,46.1034375 C28.6932422,47.7057422 27.3917578,48.9548437 25.7607422,49.2901172 L25.7607422,49.2901172 L25.7607422,59.1210937 C25.7607422,59.6064844 25.3672266,60 24.8818359,60 C24.3964453,60 24.0029297,59.6064844 24.0029297,59.1210937 L24.0029297,59.1210937 L24.0029297,49.29 C22.3726172,48.9549609 21.0713672,47.7066797 20.6592188,46.1051953 L20.6592188,46.1051953 L13.1540625,47.9416406 L13.1540625,59.1210937 C13.1540625,59.6064844 12.7605469,60 12.2751563,60 C11.7897656,60 11.39625,59.6064844 11.39625,59.1210937 L11.39625,59.1210937 L11.39625,44.1485156 L9.6384375,44.1485156 L9.6384375,59.1210937 C9.6384375,59.6064844 9.24492188,60 8.75953125,60 C8.27414063,60 7.880625,59.6064844 7.880625,59.1210937 L7.880625,59.1210937 L7.880625,49.4296875 C6.28148438,50.3421094 5.23828125,52.0681641 5.23828125,53.9626172 L5.23828125,53.9626172 L5.23828125,59.1210937 C5.23828125,59.6064844 4.84476563,60 4.359375,60 C3.87398438,60 3.48046875,59.6064844 3.48046875,59.1210937 L3.48046875,59.1210937 L3.48046875,53.9626172 C3.48046875,51.1017187 5.25984375,48.5276953 7.880625,47.484375 L7.880625,47.484375 L7.880625,44.1483984 L3.2446875,44.1483984 C2.42484375,44.1483984 1.7578125,44.8160156 1.7578125,45.6365625 L1.7578125,45.6365625 L1.7578125,48.1096875 C1.7578125,48.5950781 1.36429688,48.9885937 0.87890625,48.9885937 C0.393515625,48.9885937 3.46389584e-14,48.5950781 3.46389584e-14,48.1096875 L3.46389584e-14,48.1096875 L3.46389584e-14,45.6365625 C3.46389584e-14,43.8467578 1.45558594,42.3905859 3.2446875,42.3905859 L3.2446875,42.3905859 L15.8671875,42.3905859 C16.3525781,42.3905859 16.7460938,42.7841016 16.7460938,43.2694922 C16.7460938,43.7548828 16.3525781,44.1483984 15.8671875,44.1483984 L15.8671875,44.1483984 L13.1540625,44.1483984 L13.1540625,46.1317969 L20.6977734,44.2859766 C20.8619531,43.4776172 20.8100391,42.3290625 20.6602734,41.6575781 C20.3419922,41.4646875 20.0354297,41.2507031 19.7446875,41.0142187 C14.8958203,37.093125 12.4364063,33.5623828 12.4364063,30.5219531 C12.4364063,30.4546875 12.4373438,30.3885937 12.4383984,30.3227344 C10.4966016,29.8722656 9.02800781,28.1347266 9.00257813,26.0644922 C8.98792969,24.8723437 9.44144531,23.7483984 10.2795703,22.8998437 C10.9191797,22.2523828 11.7221484,21.8275781 12.5966016,21.661875 C12.5942578,21.2667187 12.5908594,20.8763672 12.5864063,20.4958594 C11.7850781,20.7025781 10.9865625,20.9275781 10.1921484,21.1751953 C9.72878906,21.3193359 9.23578125,21.0610547 9.09152344,20.5975781 C8.94714844,20.1342187 9.20566406,19.6413281 9.66914063,19.4969531 C10.2082031,19.3290234 10.7492578,19.171875 11.2914844,19.0221094 L11.2914844,19.0221094 L11.2914844,10.7702344 C11.2914844,6.98425781 14.3701172,3.90421875 18.1542188,3.90421875 L18.1542188,3.90421875 L22.0536328,3.90421875 L22.0536328,2.82996094 C22.0536328,1.26949219 23.323125,0 24.8835938,0 Z M0.87890625,51.320625 C1.36429688,51.320625 1.7578125,51.7141406 1.7578125,52.1995312 L1.7578125,52.1995312 L1.7578125,59.1210937 C1.7578125,59.6064844 1.36429688,60 0.87890625,60 C0.393515625,60 1.33226763e-14,59.6064844 1.33226763e-14,59.1210937 L1.33226763e-14,59.1210937 L1.33226763e-14,52.1995312 C1.33226763e-14,51.7141406 0.393515625,51.320625 0.87890625,51.320625 Z M22.5353906,42.4926562 C22.5928125,43.3841016 22.535625,44.3839453 22.2836719,45.1567969 C22.355625,46.5280078 23.4933984,47.6213672 24.8818359,47.6213672 C26.2702734,47.6213672 27.4080469,46.5278906 27.48,45.1567969 C27.2294531,44.3881641 27.1715625,43.395 27.2274609,42.5073047 C26.4837891,42.7266797 25.7085938,42.8422266 24.9256641,42.8422266 L24.9256641,42.8422266 L24.8888672,42.8422266 C24.0882422,42.8422266 23.295,42.7221094 22.5353906,42.4926562 Z M35.4977344,20.0832422 C28.5121875,18.5443359 21.3255469,18.5424609 14.3389453,20.0776172 C14.3864063,23.5541016 14.3477344,28.5031641 14.2260938,29.7396094 C14.2052344,29.9739844 14.1943359,30.2398828 14.1943359,30.5219531 C14.1943359,32.9707031 16.4964844,36.1266797 20.8519922,39.6489844 C21.9911719,40.5753516 23.4251953,41.0842969 24.8928516,41.0842969 L24.8928516,41.0842969 L24.9217969,41.0842969 C26.3880469,41.0842969 27.8182031,40.5765234 28.9546875,39.6534375 C33.3138281,36.1287891 35.6171484,32.9716406 35.6171484,30.5220703 C35.6171484,30.255 35.60625,29.986875 35.5846875,29.7249609 L35.5846875,29.7249609 Z M27.4048828,32.1499219 C27.8902734,32.1499219 28.2837891,32.5434375 28.2837891,33.0288281 C28.2837891,34.9026563 26.7594141,36.4272656 24.8857031,36.4272656 C23.0119922,36.4272656 21.4876172,34.9027734 21.4876172,33.0288281 C21.4876172,32.5434375 21.8811328,32.1499219 22.3665234,32.1499219 C22.8519141,32.1499219 23.2454297,32.5434375 23.2454297,33.0288281 C23.2454297,33.9333984 23.98125,34.6694531 24.8857031,34.6694531 C25.7901563,34.6694531 26.5259766,33.9335156 26.5259766,33.0288281 C26.5259766,32.5434375 26.9194922,32.1499219 27.4048828,32.1499219 Z M24.9325781,26.8900781 C25.7996484,26.8900781 26.5873828,27.3676172 26.9882812,28.13625 C27.2126953,28.5665625 27.0458203,29.0974219 26.6153906,29.3219531 C26.4855469,29.3896875 26.3465625,29.4217969 26.2096875,29.4217969 C25.8926953,29.4217969 25.5864844,29.2497656 25.4296875,28.9491797 C25.3328906,28.7634375 25.1423437,28.6480078 24.9325781,28.6480078 C24.7228125,28.6480078 24.5322656,28.7634375 24.4353516,28.9491797 C24.2108203,29.3796094 23.6797266,29.5463672 23.2496484,29.3220703 C22.8192187,29.0976563 22.6523437,28.5667969 22.876875,28.13625 C23.2777734,27.3676172 24.0655078,26.8900781 24.9325781,26.8900781 Z M37.2502734,23.4922266 C37.2492188,25.4196094 37.2549609,27.32625 37.2860156,28.5237891 C38.3013281,28.1540625 39.0365625,27.1832813 39.0505078,26.0469141 C39.0594141,25.3282031 38.7860156,24.650625 38.2805859,24.1391016 C37.9865625,23.8414453 37.6342969,23.6242969 37.2502734,23.4922266 Z M12.6010547,23.4738281 C12.2010938,23.6040234 11.8347656,23.8270312 11.5303125,24.1352344 C11.025,24.6467578 10.7514844,25.3243359 10.7603906,26.0430469 C10.7743359,27.1823437 11.5133203,28.155 12.5326172,28.5226172 C12.5741016,27.3282422 12.5987109,25.4385937 12.6010547,23.4738281 Z M24.9053906,9.30691406 C25.1385937,9.30691406 25.3621875,9.39960937 25.5270703,9.56449219 L25.5270703,9.56449219 L28.0248047,12.0636328 C28.3679297,12.406875 28.3678125,12.9633984 28.0244531,13.3065234 C27.8527734,13.4779687 27.6278906,13.5637793 27.403125,13.5637793 C27.1780078,13.5637793 26.953125,13.4779687 26.7814453,13.3061719 L26.7814453,13.3061719 L24.9053906,11.4289453 L23.0292187,13.3061719 C22.6860937,13.6495312 22.1295703,13.6496484 21.7863281,13.3065234 C21.4429687,12.9633984 21.4428516,12.4069922 21.7859766,12.0636328 L21.7859766,12.0636328 L24.2837109,9.56449219 C24.4485937,9.39960937 24.6721875,9.30691406 24.9053906,9.30691406 Z M24.8835938,1.7578125 C24.2923828,1.7578125 23.8114453,2.23875 23.8114453,2.82996094 L23.8114453,2.82996094 L23.8114453,3.90421875 L25.9557422,3.90421875 L25.9557422,2.82996094 C25.9557422,2.23875 25.4748047,1.7578125 24.8835938,1.7578125 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
               </li>
               <li class="al_color "><b>{{dashCount?.totalDrivers}}</b> Total Drivers</li>
            </ul>
         </div>
      </div>

      <div class="col" routerLink= "/main/vehicle/view">
         <div class="al_box total_vehicle al_p-3">
            <ul>
               <li class="al_mr"   >
                  <svg width="47px" height="50px" viewBox="0 0 47 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                      <!-- <title>vehicle</title> -->
                      <desc>Created with Sketch.</desc>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Data-save" transform="translate(-875.000000, -159.000000)" fill="#264CEB" fill-rule="nonzero">
                              <g id="vehicle" transform="translate(875.000000, 159.000000)">
                                  <path d="M40.3846154,3.55271368e-15 C43.5576923,3.55271368e-15 46.1538462,2.59615385 46.1538462,5.76923077 L46.1538462,5.76923077 L46.1538462,47.3076923 C46.1538462,49.2115385 45.2307692,50.8846154 43.8461538,51.9230769 L43.8461538,51.9230769 L43.8461538,55.9615385 C43.8461538,58.2115385 42.0576923,60 39.8076923,60 L39.8076923,60 L38.6538462,60 C36.4038462,60 34.6153846,58.2115385 34.6153846,55.9615385 L34.6153846,55.9615385 L34.6153846,53.0769231 L11.5384615,53.0769231 L11.5384615,55.9615385 C11.5384615,58.2115385 9.75,60 7.5,60 L7.5,60 L6.34615385,60 C4.09615385,60 2.30769231,58.2115385 2.30769231,55.9615385 L2.30769231,55.9615385 L2.30769231,51.9230769 C2.30769231,51.8076923 2.36538462,51.6923077 2.36538462,51.6346154 C0.980769231,50.5961538 -4.7535309e-12,49.0961538 -4.7535309e-12,47.3076923 L-4.7535309e-12,47.3076923 L-4.7535309e-12,5.76923077 C-4.7535309e-12,2.59615385 2.59615385,3.55271368e-15 5.76923077,3.55271368e-15 L5.76923077,3.55271368e-15 Z M4.61538462,52.7884615 L4.61538462,55.9615385 C4.61538462,56.9423077 5.36538462,57.6923077 6.34615385,57.6923077 L6.34615385,57.6923077 L7.5,57.6923077 C8.48076923,57.6923077 9.23076923,56.9423077 9.23076923,55.9615385 L9.23076923,55.9615385 L9.23076923,53.0769231 L6.34615385,53.0769231 C5.76923077,53.0769231 5.19230769,52.9615385 4.61538462,52.7884615 L4.61538462,52.7884615 Z M41.5384615,52.9615385 C41.1923077,53.0192308 40.7884615,53.0769231 40.3846154,53.0769231 L40.3846154,53.0769231 L36.9230769,53.0769231 L36.9230769,55.9615385 C36.9230769,56.9423077 37.6730769,57.6923077 38.6538462,57.6923077 L38.6538462,57.6923077 L39.8076923,57.6923077 C40.7884615,57.6923077 41.5384615,56.9423077 41.5384615,55.9615385 L41.5384615,55.9615385 Z M43.8461538,36.9230769 L2.30769231,36.9230769 L2.30769231,47.3076923 C2.30769231,49.2115385 4.5,50.7692308 6.34615385,50.7692308 L6.34615385,50.7692308 L40.3846154,50.7692308 C42.2884615,50.7692308 43.8461538,49.2115385 43.8461538,47.3076923 L43.8461538,47.3076923 L43.8461538,36.9230769 Z M8.65384615,39.8076923 C10.5576923,39.8076923 12.1153846,41.3653846 12.1153846,43.2692308 C12.1153846,45.1730769 10.5576923,46.7307692 8.65384615,46.7307692 C6.75,46.7307692 5.19230769,45.1730769 5.19230769,43.2692308 C5.19230769,41.3653846 6.75,39.8076923 8.65384615,39.8076923 Z M37.5,39.8076923 C39.4038462,39.8076923 40.9615385,41.3653846 40.9615385,43.2692308 C40.9615385,45.1730769 39.4038462,46.7307692 37.5,46.7307692 C35.5961538,46.7307692 34.0384615,45.1730769 34.0384615,43.2692308 C34.0384615,41.3653846 35.5961538,39.8076923 37.5,39.8076923 Z M8.65384615,42.1153846 C8.01923077,42.1153846 7.5,42.6346154 7.5,43.2692308 C7.5,43.9038462 8.01923077,44.4230769 8.65384615,44.4230769 C9.28846154,44.4230769 9.80769231,43.9038462 9.80769231,43.2692308 C9.80769231,42.6346154 9.28846154,42.1153846 8.65384615,42.1153846 Z M37.5,42.1153846 C36.8653846,42.1153846 36.3461538,42.6346154 36.3461538,43.2692308 C36.3461538,43.9038462 36.8653846,44.4230769 37.5,44.4230769 C38.1346154,44.4230769 38.6538462,43.9038462 38.6538462,43.2692308 C38.6538462,42.6346154 38.1346154,42.1153846 37.5,42.1153846 Z M43.8461538,11.5384615 L2.30769231,11.5384615 L2.30769231,34.6153846 L43.8461538,34.6153846 L43.8461538,11.5384615 Z M40.3846154,2.30769231 L5.76923077,2.30769231 C3.86538462,2.30769231 2.30769231,3.86538462 2.30769231,5.76923077 L2.30769231,5.76923077 L2.30769231,9.23076923 L43.8461538,9.23076923 L43.8461538,5.76923077 C43.8461538,3.86538462 42.2884615,2.30769231 40.3846154,2.30769231 L40.3846154,2.30769231 Z M20.7692308,4.61538462 C21.4038462,4.61538462 21.9230769,5.13461538 21.9230769,5.76923077 C21.9230769,6.40384615 21.4038462,6.92307692 20.7692308,6.92307692 L20.7692308,6.92307692 L13.2692308,6.92307692 C12.6346154,6.92307692 12.1153846,6.40384615 12.1153846,5.76923077 C12.1153846,5.13461538 12.6346154,4.61538462 13.2692308,4.61538462 L13.2692308,4.61538462 Z M27.6923077,4.61538462 C28.3269231,4.61538462 28.8461538,5.13461538 28.8461538,5.76923077 C28.8461538,6.40384615 28.3269231,6.92307692 27.6923077,6.92307692 L27.6923077,6.92307692 L25.9615385,6.92307692 C25.3269231,6.92307692 24.8076923,6.40384615 24.8076923,5.76923077 C24.8076923,5.13461538 25.3269231,4.61538462 25.9615385,4.61538462 L25.9615385,4.61538462 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
               </li>
               <li class="al_color "><b>{{dashCount?.totalVehicle}}</b> Total Vehicle</li>
            </ul>
         </div>
      </div>

      <div class="col"  routerLink= "/main/trips-management/view-trips">
         <div class="al_box total_passenger al_p-3">
            <ul>
               <li class="al_mr" >
                  <svg width="54px" height="50px" viewBox="0 0 54 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                      <!-- <title>passenger</title> -->
                      <desc>Created with Sketch.</desc>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Data-save" transform="translate(-1141.000000, -159.000000)" fill="#C726EB" fill-rule="nonzero">
                              <g id="passenger" transform="translate(1141.000000, 159.000000)">
                                  <path d="M45.1920183,0.88199693 C46.3895574,0.09543443 47.8221746,-0.177260882 49.2245574,0.11324693 C50.6275261,0.40387193 51.8332683,1.22359849 52.6197136,2.42125474 C53.4062761,3.61891099 53.6792058,5.05094224 53.3885808,6.45391099 L53.3885808,6.45391099 L49.9065886,23.2562547 C49.7753386,23.8901219 49.1548308,24.2973485 48.5213152,24.1659813 C47.887448,24.0346141 47.4802215,23.4144579 47.6115886,22.7807079 L47.6115886,22.7807079 L51.0935808,5.97836412 C51.257409,5.18852037 51.103659,4.38203599 50.6609246,3.70773912 C50.218073,3.03344224 49.5392058,2.57184068 48.7492449,2.40824693 C47.9595183,2.24465318 47.153034,2.39828599 46.4786199,2.84090318 C45.804323,3.28375474 45.3427215,3.96262193 45.1791277,4.75258287 L45.1791277,4.75258287 L38.765573,35.7016844 C38.2047136,38.4077782 35.791823,40.3719579 33.0281902,40.3719579 L33.0281902,40.3719579 L16.3684636,40.3719579 C14.7346355,40.3719579 13.3800652,41.7002782 13.3487761,43.3329344 C13.333659,44.1265282 13.6402215,44.8844969 14.2122136,45.4675047 C14.8013152,46.0680907 15.617409,46.4123876 16.451198,46.4123876 L16.451198,46.4123876 L40.2559636,46.4123876 C41.6804949,46.4123876 42.9242058,45.4000047 43.2131902,44.0052391 L43.2131902,44.0052391 L45.7785418,31.6262547 C45.909909,30.9923876 46.530534,30.5858641 47.1638152,30.7165282 C47.7976824,30.8478954 48.204909,31.4680516 48.0735418,32.1018016 L48.0735418,32.1018016 L45.5081902,44.4806688 C44.994909,46.9578954 42.786159,48.7560204 40.2560808,48.7560204 L40.2560808,48.7560204 L34.3815886,48.7560204 L38.389284,58.3775829 C38.5398699,58.7392235 38.4997918,59.1523094 38.2825261,59.4783251 C38.0652605,59.8042235 37.6994011,60.0000438 37.3075261,60.0000438 L37.3075261,60.0000438 L19.2298308,60.0000438 C18.838073,60.0000438 18.4720965,59.8042235 18.2548308,59.4783251 C18.0375652,59.1521922 17.9974871,58.7392235 18.148073,58.3775829 L18.148073,58.3775829 L22.1557683,48.7560204 L16.4513152,48.7560204 C14.9922136,48.7560204 13.5662761,48.1556688 12.5392449,47.1088329 C12.4825261,47.0509422 12.4277996,46.9917626 12.3740105,46.9319969 L12.3740105,46.9319969 L9.65572927,57.3652001 C9.25166677,58.916411 7.84975271,60.0000438 6.24651052,60.0000438 L6.24651052,60.0000438 L3.52494802,60.0000438 C2.42561209,60.0000438 1.40947927,59.5010594 0.737291775,58.6311766 C0.0649870872,57.761411 -0.16153635,56.6523485 0.115612087,55.5885204 L0.115612087,55.5885204 L2.07276052,48.0766844 C2.23588552,47.4504344 2.87572927,47.0746141 3.50221365,47.2382079 C4.12834646,47.4013329 4.5039324,48.0412938 4.34069021,48.667661 L4.34069021,48.667661 L2.38354177,56.1794969 C2.29084646,56.5355126 2.36654959,56.9067626 2.59166677,57.1978563 C2.81666677,57.4890672 3.1567449,57.6560594 3.52483084,57.6560594 L3.52483084,57.6560594 L6.24651052,57.6560594 C6.78311209,57.6560594 7.25244802,57.2934813 7.3876824,56.7742235 L7.3876824,56.7742235 L10.9771355,42.9975438 C10.9921355,42.9397704 11.0125261,42.8850438 11.0352605,42.8317235 C11.3190886,40.1444969 13.6206511,38.0282079 16.3683465,38.0282079 L16.3683465,38.0282079 L33.0279558,38.0282079 C34.6860418,38.0282079 36.1338933,36.8496532 36.4704558,35.2260204 L36.4704558,35.2260204 L39.4083465,21.0496141 L39.4083465,21.0496141 L39.412448,21.0233641 C39.6897136,19.6852001 39.429323,18.3192626 38.6792058,17.1769188 C37.9290886,16.0346922 36.7790105,15.2528172 35.4408465,14.9755516 C34.1032683,14.6980516 32.7370965,14.9585594 31.5947527,15.7086766 C30.4522918,16.458911 29.6702996,17.6089891 29.393034,18.9471532 L29.393034,18.9471532 L29.1354558,20.2302391 L30.3076824,19.0512157 C30.7640105,18.5920751 31.5059246,18.5902001 31.964948,19.046411 C32.4238543,19.5028563 32.4260808,20.2448876 31.9696355,20.7037938 L31.9696355,20.7037938 L25.2617058,27.4502782 C25.0417449,27.671411 24.7426824,27.7958641 24.4307293,27.7958641 L24.4307293,27.7958641 L14.7962761,27.7958641 C13.9978777,27.7958641 13.3481902,28.4455516 13.3481902,29.2439501 C13.3481902,30.0423485 13.9978777,30.692036 14.7962761,30.692036 L14.7962761,30.692036 L27.020573,30.692036 L32.6091277,25.0462938 C33.0644011,24.5863329 33.8063152,24.5824657 34.2663933,25.0379735 C34.7263543,25.4932469 34.7301043,26.2352782 34.2747136,26.6952391 L34.2747136,26.6952391 L28.3422136,32.6884422 C28.1222527,32.9108641 27.8223699,33.0359032 27.5094793,33.0359032 L27.5094793,33.0359032 L10.3425652,33.0359032 C9.20690115,33.0359032 8.21350271,33.8035985 7.92709646,34.9028172 L7.92709646,34.9028172 L6.5439324,40.2111766 C6.40658865,40.7384032 5.93115896,41.0877391 5.41072927,41.0878563 C5.31287771,41.0878563 5.2136199,41.0755516 5.11447927,41.0496532 C4.48822927,40.8865282 4.11276052,40.2465672 4.27600271,39.6202001 L4.27600271,39.6202001 L5.65916677,34.3118407 C6.21440115,32.1805516 8.14037771,30.6921532 10.3425652,30.6921532 L10.3425652,30.6921532 L11.2924871,30.6921532 C11.1072136,30.2456688 11.0044402,29.7567626 11.0044402,29.2440672 C11.0044402,27.1533251 12.7054168,25.4522313 14.7962761,25.4522313 L14.7962761,25.4522313 L23.9433465,25.4522313 L26.1406121,23.2424266 L27.0967449,18.4787547 C27.5026824,16.5205516 28.6426824,14.8435985 30.3083855,13.7497704 C30.7553386,13.4562157 31.2264324,13.2158641 31.7132293,13.0266063 C30.3901824,11.7886376 29.5609636,10.0288329 29.5609636,8.07812974 L29.5609636,8.07812974 L29.5609636,7.05848131 C29.5609636,3.32008287 32.6023308,0.278598493 36.3408465,0.278598493 C39.3169402,0.278598493 41.8494793,2.20691881 42.759323,4.87914537 L42.759323,4.87914537 L42.8840105,4.27715318 C43.1746355,2.87418443 43.9943621,1.66844224 45.1920183,0.88199693 Z M31.8424871,48.7559032 L24.6946355,48.7559032 L20.9872918,57.6561766 L35.5498308,57.6561766 L31.8424871,48.7559032 Z M4.35369802,42.7982079 C4.66201834,42.7982079 4.96436209,42.9237157 5.18221365,43.1415672 C5.40029959,43.359536 5.52557302,43.6618797 5.52557302,43.9700829 C5.52557302,44.2793407 5.4001824,44.5816844 5.18221365,44.7985985 C4.96307302,45.0176219 4.66201834,45.1419579 4.35369802,45.1419579 C4.0454949,45.1419579 3.74315115,45.0176219 3.52529959,44.7985985 C3.30721365,44.5806297 3.18182302,44.2794579 3.18182302,43.9700829 C3.18182302,43.6618797 3.30733084,43.3607079 3.52529959,43.1415672 C3.74315115,42.9235985 4.0454949,42.7982079 4.35369802,42.7982079 Z M47.8813543,26.0839891 C48.1894402,26.0839891 48.4907293,26.2092626 48.7098699,26.4273485 C48.9278386,26.6453172 49.0532293,26.947661 49.0532293,27.2558641 C49.0532293,27.5640672 48.9277215,27.866411 48.7098699,28.0842626 C48.4919011,28.3023485 48.1895574,28.4277391 47.8813543,28.4277391 C47.5720965,28.4277391 47.2697527,28.3022313 47.0528386,28.0842626 C46.833698,27.866411 46.7084246,27.5640672 46.7084246,27.2558641 C46.7084246,26.947661 46.833698,26.6453172 47.0528386,26.4273485 C47.2708074,26.2092626 47.5719793,26.0839891 47.8813543,26.0839891 Z M41.096198,12.9048485 C40.5381511,13.4546922 39.8852996,13.9078563 39.1650652,14.2393797 C39.6737761,14.6620751 40.1267058,15.1564891 40.5144793,15.7118407 L40.5144793,15.7118407 Z M36.3407293,2.62211412 C33.8946746,2.62211412 31.9045965,4.61219224 31.9045965,7.05836412 L31.9045965,7.05836412 L31.9045965,8.07801256 C31.9045965,10.5240672 33.8945574,12.5141454 36.3407293,12.5141454 C38.7869011,12.5141454 40.7769793,10.5240672 40.7768621,8.07801256 L40.7768621,8.07801256 L40.7768621,7.05836412 C40.7768621,4.61219224 38.7869011,2.62211412 36.3407293,2.62211412 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
               </li>
               <li class="al_color "><b>{{dashCount?.totalBuses || 0}}</b> Total Buses</li>
            </ul>
         </div>
      </div>

   </div>
   <div class="row mt-2">
      <div class="col" routerLink= "/main/trips-management/view-trips">
         <div class="al_box total_trip al_p-3">
            <ul>
               <li class="al_mr">
                  <svg width="60px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                      <!-- <title>trip</title> -->
                      <desc>Created with Sketch.</desc>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Data-save" transform="translate(-342.000000, -158.000000)" fill="#2FA990" fill-rule="nonzero">
                              <g id="trip" transform="translate(342.000000, 158.000000)">
                                  <path d="M27.3195703,0 C27.8049609,0 28.1985938,0.393515625 28.1985938,0.87890625 C28.1985938,1.36429687 27.8049609,1.7578125 27.3195703,1.7578125 L27.3195703,1.7578125 L25.8546094,1.7578125 L25.8546094,9.92355469 L32.8101563,9.92355469 C35.0744531,9.92355469 36.9167578,11.7655078 36.9167578,14.0296875 L36.9167578,14.0296875 L36.9167578,16.6060547 C36.9167578,17.0914453 36.523125,17.4849609 36.0376172,17.4849609 C35.5521094,17.4849609 35.1585938,17.0914453 35.1585938,16.6060547 L35.1585938,16.6060547 L35.1585938,14.0296875 C35.1585938,12.7347656 34.1051953,11.6813672 32.8101563,11.6813672 L32.8101563,11.6813672 L4.10648438,11.6813672 C2.8115625,11.6813672 1.75804688,12.7347656 1.75804688,14.0296875 L1.75804688,14.0296875 L1.75804688,52.1064844 C1.75804688,53.4014063 2.8115625,54.4548047 4.10648438,54.4548047 L4.10648438,54.4548047 L32.8102734,54.4548047 C34.1051953,54.4548047 35.1587109,53.4014063 35.1587109,52.1064844 L35.1587109,52.1064844 L35.1587109,20.7205078 C35.1587109,20.2351172 35.5522266,19.8416016 36.0377344,19.8416016 C36.5232422,19.8416016 36.9167578,20.2351172 36.9167578,20.7205078 L36.9167578,20.7205078 L36.9167578,52.1064844 C36.9167578,54.1701562 35.3864063,55.8829687 33.4008984,56.1701953 L33.4008984,56.1701953 L33.4008984,57.3632812 C33.4008984,58.8172266 32.2178906,60 30.7639453,60 C29.3098828,60 28.1269922,58.8172266 28.1269922,57.3632812 L28.1269922,57.3632812 L28.1269922,56.2126172 L8.78976563,56.2126172 L8.78976563,57.3632812 C8.78976563,58.8172266 7.606875,60 6.1528125,60 C4.69875,60 3.51585938,58.8172266 3.51585938,57.3632813 L3.51585938,57.3632813 L3.51585938,56.1701953 C1.53035156,55.8830859 7.20090654e-12,54.1701563 7.20090654e-12,52.1064844 L7.20090654e-12,52.1064844 L7.20090654e-12,14.0296875 C7.20090654e-12,11.7655078 1.84207031,9.92355469 4.10648438,9.92355469 L4.10648438,9.92355469 L11.0620313,9.92355469 L11.0620313,1.7578125 L9.59707031,1.7578125 C9.1115625,1.7578125 8.71804688,1.36429687 8.71804688,0.87890625 C8.71804688,0.393515625 9.11167969,0 9.59707031,0 L9.59707031,0 Z M46.1112891,21.3253125 C47.6530078,21.3253125 48.9072656,22.5794531 48.9072656,24.1210547 L48.9072656,24.1210547 L48.9072656,27.4647656 L55.8935156,27.4647656 C58.1578125,27.4647656 60,29.3067187 60,31.5708984 L60,31.5708984 L60,52.1064844 C60,54.0690234 58.6158984,55.7144531 56.7725391,56.1180469 L56.7725391,56.1180469 L56.7725391,57.3633984 C56.7725391,58.8173437 55.5896484,60.0001172 54.1355859,60.0001172 C52.6815234,60.0001172 51.4986328,58.8173437 51.4986328,57.3633984 L51.4986328,57.3633984 L51.4986328,56.2127344 L39.4953516,56.2127344 C39.0098438,56.2127344 38.6163281,55.8192187 38.6163281,55.3338281 C38.6163281,54.8484375 39.0098438,54.4549219 39.4953516,54.4549219 L39.4953516,54.4549219 L55.8935156,54.4549219 C57.1884375,54.4549219 58.2420703,53.4015234 58.2420703,52.1066016 L58.2420703,52.1066016 L58.2420703,51.2534766 L39.4953516,51.2534766 C39.0098438,51.2534766 38.6163281,50.8599609 38.6163281,50.3745703 C38.6163281,49.8891797 39.0098438,49.4956641 39.4953516,49.4956641 L39.4953516,49.4956641 L58.2420703,49.4956641 L58.2420703,47.1795703 L55.2517969,47.1795703 C54.7662891,47.1795703 54.3727734,46.7860547 54.3727734,46.3006641 C54.3727734,45.8152734 54.7662891,45.4217578 55.2517969,45.4217578 L55.2517969,45.4217578 L58.2420703,45.4217578 L58.2420703,31.5708984 C58.2420703,30.2759766 57.1885547,29.2225781 55.8935156,29.2225781 L55.8935156,29.2225781 L48.9072656,29.2225781 L48.9072656,30.9796875 L50.7651563,32.8721484 C50.9264063,33.0364453 51.016875,33.2575781 51.016875,33.4878516 L51.016875,33.4878516 L51.016875,38.8784766 C51.016875,39.3638672 50.6233594,39.7573828 50.1378516,39.7573828 L50.1378516,39.7573828 L45.91875,39.7573828 C45.4332422,39.7573828 45.0397266,39.3638672 45.0397266,38.8784766 L45.0397266,38.8784766 L45.0397266,33.4878516 C45.0397266,33.2575781 45.1301953,33.0364453 45.2914453,32.8721484 L45.2914453,32.8721484 L47.1493359,30.9796875 L47.1493359,29.2225781 L39.4954688,29.2225781 C39.0099609,29.2225781 38.6163281,28.8290625 38.6163281,28.3436719 C38.6163281,27.8582813 39.0099609,27.4647656 39.4954688,27.4647656 L39.4954688,27.4647656 L47.1493359,27.4647656 L47.1493359,24.1210547 C47.1493359,23.5488281 46.6836328,23.083125 46.1112891,23.083125 L46.1112891,23.083125 L39.4954688,23.083125 C39.0099609,23.083125 38.6163281,22.6896094 38.6163281,22.2042188 C38.6163281,21.7188281 39.0099609,21.3253125 39.4954688,21.3253125 L39.4954688,21.3253125 Z M31.6427344,56.2126172 L29.8846875,56.2126172 L29.8846875,57.3632813 C29.8846875,57.8479688 30.2790234,58.2421875 30.7637109,58.2421875 C31.2483984,58.2421875 31.6427344,57.8479688 31.6427344,57.3632813 L31.6427344,57.3632813 L31.6427344,56.2126172 Z M7.03171875,56.2126172 L5.27378906,56.2126172 L5.27378906,57.3632813 C5.27378906,57.8479688 5.66800781,58.2421875 6.15269531,58.2421875 C6.63738281,58.2421875 7.03171875,57.8479688 7.03171875,57.3632813 L7.03171875,57.3632813 L7.03171875,56.2126172 Z M55.014375,56.2126172 L53.2564453,56.2126172 L53.2564453,57.3632812 C53.2564453,57.8479687 53.6507813,58.2421875 54.1354688,58.2421875 C54.6201563,58.2421875 55.0144922,57.8479687 55.0144922,57.3632812 L55.014375,57.3632812 L55.014375,56.2126172 Z M32.5217578,31.3688672 C33.0072656,31.3688672 33.4007813,31.7623828 33.4007813,32.2477734 L33.4007813,32.2477734 L33.4007813,51.8180859 C33.4007813,52.3034766 33.0072656,52.6969922 32.5217578,52.6969922 L32.5217578,52.6969922 L11.9273438,52.6969922 C11.4419531,52.6969922 11.0483203,52.3034766 11.0483203,51.8180859 C11.0483203,51.3326953 11.4419531,50.9391797 11.9273438,50.9391797 L11.9273438,50.9391797 L31.6427344,50.9391797 L31.6427344,33.1266797 L5.27378906,33.1266797 L5.27378906,50.9391797 L7.91074219,50.9391797 C8.39625,50.9391797 8.78976563,51.3326953 8.78976563,51.8180859 C8.78976563,52.3034766 8.39613281,52.6969922 7.91074219,52.6969922 L7.91074219,52.6969922 L4.39488281,52.6969922 C3.909375,52.6969922 3.51585938,52.3034766 3.51585938,51.8180859 L3.51585938,51.8180859 L3.51585938,32.2477734 C3.51585938,31.7623828 3.90949219,31.3688672 4.39488281,31.3688672 L4.39488281,31.3688672 Z M51.1899609,45.4217578 C51.6754688,45.4217578 52.0689844,45.8152734 52.0689844,46.3006641 C52.0689844,46.7860547 51.6754688,47.1795703 51.1899609,47.1795703 L51.1899609,47.1795703 L39.4953516,47.1795703 C39.0098438,47.1795703 38.6163281,46.7860547 38.6163281,46.3006641 C38.6163281,45.8152734 39.0098438,45.4217578 39.4953516,45.4217578 L39.4953516,45.4217578 Z M29.0060156,34.8416016 C29.4915234,34.8416016 29.8850391,35.2351172 29.8850391,35.7205078 C29.8850391,36.2058984 29.4915234,36.5994141 29.0060156,36.5994141 L29.0060156,36.5994141 L27.0723047,36.5994141 L27.0723047,39.4542187 C27.0723047,39.9396094 26.6786719,40.333125 26.1932813,40.333125 C25.7077734,40.333125 25.3142578,39.9396094 25.3142578,39.4542187 L25.3142578,39.4542187 L25.3142578,36.5994141 L7.91074219,36.5994141 C7.42523438,36.5994141 7.03171875,36.2058984 7.03171875,35.7205078 C7.03171875,35.2351172 7.42535156,34.8416016 7.91074219,34.8416016 L7.91074219,34.8416016 Z M48.0282422,32.5937109 L46.7976563,33.8471484 L46.7976563,37.9995703 L49.2588281,37.9995703 L49.2588281,33.8471484 L48.0282422,32.5937109 Z M24.3180469,18.7041797 C24.8035547,18.7041797 25.1970703,19.0976953 25.1970703,19.5830859 L25.1970703,19.5830859 L25.1970703,23.0987109 C25.1970703,23.5841016 24.8034375,23.9776172 24.3180469,23.9776172 L24.3180469,23.9776172 L12.5984766,23.9776172 C12.1129688,23.9776172 11.7194531,23.5841016 11.7194531,23.0987109 L11.7194531,23.0987109 L11.7194531,19.5830859 C11.7194531,19.0976953 12.1130859,18.7041797 12.5984766,18.7041797 L12.5984766,18.7041797 Z M23.4391406,20.4619922 L13.4775,20.4619922 L13.4775,22.2198047 L23.4391406,22.2198047 L23.4391406,20.4619922 Z M24.0966797,1.7578125 L12.8199609,1.7578125 L12.8199609,9.92355469 L24.0966797,9.92355469 L24.0966797,1.7578125 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
               </li>
               <li class="al_color "><b>{{dashCount?.totalBooking}}</b> Total Booking</li>
            </ul>
         </div>
      </div>

      <div class="col" routerLink= "/main/driver/view">
         <div class="al_box total_drivers al_p-3">
            <ul>
               <li class="al_mr">
                  <svg width="50px" height="50px" viewBox="0 0 50 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                      <!-- <title>driver</title> -->
                      <desc>Created with Sketch.</desc>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Data-save" transform="translate(-610.000000, -160.000000)" fill="#EB9026" fill-rule="nonzero">
                              <g id="driver" transform="translate(610.000000, 160.000000)">
                                  <path d="M24.8835938,0 C26.4440625,0 27.7135547,1.26949219 27.7135547,2.82996094 L27.7135547,2.82996094 L27.7135547,3.90421875 L31.6570313,3.90421875 C35.4410156,3.90421875 38.5196484,6.98425781 38.5196484,10.7702344 C38.5196484,11.255625 38.1261328,11.6491406 37.6407422,11.6491406 C37.1553516,11.6491406 36.7618359,11.255625 36.7618359,10.7702344 C36.7618359,7.95351563 34.471875,5.66203125 31.6570313,5.66203125 L31.6570313,5.66203125 L18.1545703,5.66203125 C15.3397266,5.66203125 13.0496484,7.95351563 13.0496484,10.7702344 L13.0496484,10.7702344 L13.0496484,18.5698828 C20.8660547,16.7027344 28.9458984,16.7027344 36.7617188,18.5697656 L36.7617188,18.5697656 L36.7617188,14.8742578 C36.7617188,14.3888672 37.1552344,13.9953516 37.640625,13.9953516 C38.1260156,13.9953516 38.5195313,14.3888672 38.5195313,14.8742578 L38.5195313,14.8742578 L38.5195313,19.0219922 C39.0786328,19.1764453 39.6364453,19.3391016 40.1921484,19.5128906 C40.6553906,19.6577344 40.9134375,20.1507422 40.7685938,20.6141016 C40.6509375,20.9900391 40.3040625,21.2308594 39.93,21.2308594 C39.8430469,21.2308594 39.7548047,21.2178516 39.6673828,21.1905469 C38.8669922,20.9402344 38.0625,20.7126562 37.2550781,20.5038281 L37.2550781,20.5038281 L37.2528516,21.6726562 C38.1124219,21.8433984 38.9010938,22.2658594 39.5312109,22.9038281 C40.3693359,23.7522656 40.8229688,24.8762109 40.8083203,26.0685938 C40.7828906,28.1392969 39.3134766,29.8771875 37.3710938,30.3270703 C37.3721484,30.3921094 37.3750781,30.4571484 37.3750781,30.5220703 C37.3750781,33.5634375 34.9144922,37.0952344 30.0616406,41.0191406 C29.7558984,41.2674609 29.4325781,41.4907031 29.0964844,41.6907422 C28.9522266,42.3659766 28.9042969,43.4896875 29.0657813,44.2851562 L29.0657813,44.2851562 L36.6738281,46.1321484 L36.6738281,44.1485156 L33.9607031,44.1485156 C33.4753125,44.1485156 33.0817969,43.755 33.0817969,43.2696094 C33.0817969,42.7842187 33.4753125,42.3907031 33.9607031,42.3907031 L33.9607031,42.3907031 L46.5832031,42.3907031 C48.3723047,42.3907031 49.8278906,43.846875 49.8278906,45.6367969 L49.8278906,45.6367969 L49.8278906,59.1210937 C49.8278906,59.6064844 49.434375,60 48.9489844,60 C48.4635938,60 48.0700781,59.6064844 48.0700781,59.1210937 L48.0700781,59.1210937 L48.0700781,45.6366797 C48.0700781,44.8161328 47.4030469,44.1485156 46.5832031,44.1485156 L46.5832031,44.1485156 L41.9472656,44.1485156 L41.9472656,47.4719531 C44.5853906,48.5073047 46.3782422,51.0888281 46.3782422,53.9626172 L46.3782422,53.9626172 L46.3782422,59.1210937 C46.3782422,59.6064844 45.9847266,60 45.4993359,60 C45.0139453,60 44.6204297,59.6064844 44.6204297,59.1210937 L44.6204297,59.1210937 L44.6204297,53.9626172 C44.6204297,52.0550391 43.5641016,50.3199609 41.9472656,49.4123437 L41.9472656,49.4123437 L41.9472656,59.1210937 C41.9472656,59.6064844 41.55375,60 41.0683594,60 C40.5829688,60 40.1894531,59.6064844 40.1894531,59.1210937 L40.1894531,59.1210937 L40.1894531,44.1485156 L38.4316406,44.1485156 L38.4316406,59.1210937 C38.4316406,59.6064844 38.038125,60 37.5527344,60 C37.0673438,60 36.6738281,59.6064844 36.6738281,59.1210937 L36.6738281,59.1210937 L36.6738281,47.9410547 L29.1049219,46.1034375 C28.6932422,47.7057422 27.3917578,48.9548437 25.7607422,49.2901172 L25.7607422,49.2901172 L25.7607422,59.1210937 C25.7607422,59.6064844 25.3672266,60 24.8818359,60 C24.3964453,60 24.0029297,59.6064844 24.0029297,59.1210937 L24.0029297,59.1210937 L24.0029297,49.29 C22.3726172,48.9549609 21.0713672,47.7066797 20.6592188,46.1051953 L20.6592188,46.1051953 L13.1540625,47.9416406 L13.1540625,59.1210937 C13.1540625,59.6064844 12.7605469,60 12.2751563,60 C11.7897656,60 11.39625,59.6064844 11.39625,59.1210937 L11.39625,59.1210937 L11.39625,44.1485156 L9.6384375,44.1485156 L9.6384375,59.1210937 C9.6384375,59.6064844 9.24492188,60 8.75953125,60 C8.27414063,60 7.880625,59.6064844 7.880625,59.1210937 L7.880625,59.1210937 L7.880625,49.4296875 C6.28148438,50.3421094 5.23828125,52.0681641 5.23828125,53.9626172 L5.23828125,53.9626172 L5.23828125,59.1210937 C5.23828125,59.6064844 4.84476563,60 4.359375,60 C3.87398438,60 3.48046875,59.6064844 3.48046875,59.1210937 L3.48046875,59.1210937 L3.48046875,53.9626172 C3.48046875,51.1017187 5.25984375,48.5276953 7.880625,47.484375 L7.880625,47.484375 L7.880625,44.1483984 L3.2446875,44.1483984 C2.42484375,44.1483984 1.7578125,44.8160156 1.7578125,45.6365625 L1.7578125,45.6365625 L1.7578125,48.1096875 C1.7578125,48.5950781 1.36429688,48.9885937 0.87890625,48.9885937 C0.393515625,48.9885937 3.46389584e-14,48.5950781 3.46389584e-14,48.1096875 L3.46389584e-14,48.1096875 L3.46389584e-14,45.6365625 C3.46389584e-14,43.8467578 1.45558594,42.3905859 3.2446875,42.3905859 L3.2446875,42.3905859 L15.8671875,42.3905859 C16.3525781,42.3905859 16.7460938,42.7841016 16.7460938,43.2694922 C16.7460938,43.7548828 16.3525781,44.1483984 15.8671875,44.1483984 L15.8671875,44.1483984 L13.1540625,44.1483984 L13.1540625,46.1317969 L20.6977734,44.2859766 C20.8619531,43.4776172 20.8100391,42.3290625 20.6602734,41.6575781 C20.3419922,41.4646875 20.0354297,41.2507031 19.7446875,41.0142187 C14.8958203,37.093125 12.4364063,33.5623828 12.4364063,30.5219531 C12.4364063,30.4546875 12.4373438,30.3885937 12.4383984,30.3227344 C10.4966016,29.8722656 9.02800781,28.1347266 9.00257813,26.0644922 C8.98792969,24.8723437 9.44144531,23.7483984 10.2795703,22.8998437 C10.9191797,22.2523828 11.7221484,21.8275781 12.5966016,21.661875 C12.5942578,21.2667187 12.5908594,20.8763672 12.5864063,20.4958594 C11.7850781,20.7025781 10.9865625,20.9275781 10.1921484,21.1751953 C9.72878906,21.3193359 9.23578125,21.0610547 9.09152344,20.5975781 C8.94714844,20.1342187 9.20566406,19.6413281 9.66914063,19.4969531 C10.2082031,19.3290234 10.7492578,19.171875 11.2914844,19.0221094 L11.2914844,19.0221094 L11.2914844,10.7702344 C11.2914844,6.98425781 14.3701172,3.90421875 18.1542188,3.90421875 L18.1542188,3.90421875 L22.0536328,3.90421875 L22.0536328,2.82996094 C22.0536328,1.26949219 23.323125,0 24.8835938,0 Z M0.87890625,51.320625 C1.36429688,51.320625 1.7578125,51.7141406 1.7578125,52.1995312 L1.7578125,52.1995312 L1.7578125,59.1210937 C1.7578125,59.6064844 1.36429688,60 0.87890625,60 C0.393515625,60 1.33226763e-14,59.6064844 1.33226763e-14,59.1210937 L1.33226763e-14,59.1210937 L1.33226763e-14,52.1995312 C1.33226763e-14,51.7141406 0.393515625,51.320625 0.87890625,51.320625 Z M22.5353906,42.4926562 C22.5928125,43.3841016 22.535625,44.3839453 22.2836719,45.1567969 C22.355625,46.5280078 23.4933984,47.6213672 24.8818359,47.6213672 C26.2702734,47.6213672 27.4080469,46.5278906 27.48,45.1567969 C27.2294531,44.3881641 27.1715625,43.395 27.2274609,42.5073047 C26.4837891,42.7266797 25.7085938,42.8422266 24.9256641,42.8422266 L24.9256641,42.8422266 L24.8888672,42.8422266 C24.0882422,42.8422266 23.295,42.7221094 22.5353906,42.4926562 Z M35.4977344,20.0832422 C28.5121875,18.5443359 21.3255469,18.5424609 14.3389453,20.0776172 C14.3864063,23.5541016 14.3477344,28.5031641 14.2260938,29.7396094 C14.2052344,29.9739844 14.1943359,30.2398828 14.1943359,30.5219531 C14.1943359,32.9707031 16.4964844,36.1266797 20.8519922,39.6489844 C21.9911719,40.5753516 23.4251953,41.0842969 24.8928516,41.0842969 L24.8928516,41.0842969 L24.9217969,41.0842969 C26.3880469,41.0842969 27.8182031,40.5765234 28.9546875,39.6534375 C33.3138281,36.1287891 35.6171484,32.9716406 35.6171484,30.5220703 C35.6171484,30.255 35.60625,29.986875 35.5846875,29.7249609 L35.5846875,29.7249609 Z M27.4048828,32.1499219 C27.8902734,32.1499219 28.2837891,32.5434375 28.2837891,33.0288281 C28.2837891,34.9026563 26.7594141,36.4272656 24.8857031,36.4272656 C23.0119922,36.4272656 21.4876172,34.9027734 21.4876172,33.0288281 C21.4876172,32.5434375 21.8811328,32.1499219 22.3665234,32.1499219 C22.8519141,32.1499219 23.2454297,32.5434375 23.2454297,33.0288281 C23.2454297,33.9333984 23.98125,34.6694531 24.8857031,34.6694531 C25.7901563,34.6694531 26.5259766,33.9335156 26.5259766,33.0288281 C26.5259766,32.5434375 26.9194922,32.1499219 27.4048828,32.1499219 Z M24.9325781,26.8900781 C25.7996484,26.8900781 26.5873828,27.3676172 26.9882812,28.13625 C27.2126953,28.5665625 27.0458203,29.0974219 26.6153906,29.3219531 C26.4855469,29.3896875 26.3465625,29.4217969 26.2096875,29.4217969 C25.8926953,29.4217969 25.5864844,29.2497656 25.4296875,28.9491797 C25.3328906,28.7634375 25.1423437,28.6480078 24.9325781,28.6480078 C24.7228125,28.6480078 24.5322656,28.7634375 24.4353516,28.9491797 C24.2108203,29.3796094 23.6797266,29.5463672 23.2496484,29.3220703 C22.8192187,29.0976563 22.6523437,28.5667969 22.876875,28.13625 C23.2777734,27.3676172 24.0655078,26.8900781 24.9325781,26.8900781 Z M37.2502734,23.4922266 C37.2492188,25.4196094 37.2549609,27.32625 37.2860156,28.5237891 C38.3013281,28.1540625 39.0365625,27.1832813 39.0505078,26.0469141 C39.0594141,25.3282031 38.7860156,24.650625 38.2805859,24.1391016 C37.9865625,23.8414453 37.6342969,23.6242969 37.2502734,23.4922266 Z M12.6010547,23.4738281 C12.2010938,23.6040234 11.8347656,23.8270312 11.5303125,24.1352344 C11.025,24.6467578 10.7514844,25.3243359 10.7603906,26.0430469 C10.7743359,27.1823437 11.5133203,28.155 12.5326172,28.5226172 C12.5741016,27.3282422 12.5987109,25.4385937 12.6010547,23.4738281 Z M24.9053906,9.30691406 C25.1385937,9.30691406 25.3621875,9.39960937 25.5270703,9.56449219 L25.5270703,9.56449219 L28.0248047,12.0636328 C28.3679297,12.406875 28.3678125,12.9633984 28.0244531,13.3065234 C27.8527734,13.4779687 27.6278906,13.5637793 27.403125,13.5637793 C27.1780078,13.5637793 26.953125,13.4779687 26.7814453,13.3061719 L26.7814453,13.3061719 L24.9053906,11.4289453 L23.0292187,13.3061719 C22.6860937,13.6495312 22.1295703,13.6496484 21.7863281,13.3065234 C21.4429687,12.9633984 21.4428516,12.4069922 21.7859766,12.0636328 L21.7859766,12.0636328 L24.2837109,9.56449219 C24.4485937,9.39960937 24.6721875,9.30691406 24.9053906,9.30691406 Z M24.8835938,1.7578125 C24.2923828,1.7578125 23.8114453,2.23875 23.8114453,2.82996094 L23.8114453,2.82996094 L23.8114453,3.90421875 L25.9557422,3.90421875 L25.9557422,2.82996094 C25.9557422,2.23875 25.4748047,1.7578125 24.8835938,1.7578125 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
               </li>
               <li class="al_color "><b>{{dashCount?.totalCompleteTrips}}</b>  Complete Trips</li>
            </ul>
         </div>
      </div>

      <div class="col" routerLink= "/main/vehicle/view">
         <div class="al_box total_vehicle al_p-3">
            <ul>
               <li class="al_mr"   >
                  <svg width="47px" height="50px" viewBox="0 0 47 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                      <!-- <title>vehicle</title> -->
                      <desc>Created with Sketch.</desc>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Data-save" transform="translate(-875.000000, -159.000000)" fill="#264CEB" fill-rule="nonzero">
                              <g id="vehicle" transform="translate(875.000000, 159.000000)">
                                  <path d="M40.3846154,3.55271368e-15 C43.5576923,3.55271368e-15 46.1538462,2.59615385 46.1538462,5.76923077 L46.1538462,5.76923077 L46.1538462,47.3076923 C46.1538462,49.2115385 45.2307692,50.8846154 43.8461538,51.9230769 L43.8461538,51.9230769 L43.8461538,55.9615385 C43.8461538,58.2115385 42.0576923,60 39.8076923,60 L39.8076923,60 L38.6538462,60 C36.4038462,60 34.6153846,58.2115385 34.6153846,55.9615385 L34.6153846,55.9615385 L34.6153846,53.0769231 L11.5384615,53.0769231 L11.5384615,55.9615385 C11.5384615,58.2115385 9.75,60 7.5,60 L7.5,60 L6.34615385,60 C4.09615385,60 2.30769231,58.2115385 2.30769231,55.9615385 L2.30769231,55.9615385 L2.30769231,51.9230769 C2.30769231,51.8076923 2.36538462,51.6923077 2.36538462,51.6346154 C0.980769231,50.5961538 -4.7535309e-12,49.0961538 -4.7535309e-12,47.3076923 L-4.7535309e-12,47.3076923 L-4.7535309e-12,5.76923077 C-4.7535309e-12,2.59615385 2.59615385,3.55271368e-15 5.76923077,3.55271368e-15 L5.76923077,3.55271368e-15 Z M4.61538462,52.7884615 L4.61538462,55.9615385 C4.61538462,56.9423077 5.36538462,57.6923077 6.34615385,57.6923077 L6.34615385,57.6923077 L7.5,57.6923077 C8.48076923,57.6923077 9.23076923,56.9423077 9.23076923,55.9615385 L9.23076923,55.9615385 L9.23076923,53.0769231 L6.34615385,53.0769231 C5.76923077,53.0769231 5.19230769,52.9615385 4.61538462,52.7884615 L4.61538462,52.7884615 Z M41.5384615,52.9615385 C41.1923077,53.0192308 40.7884615,53.0769231 40.3846154,53.0769231 L40.3846154,53.0769231 L36.9230769,53.0769231 L36.9230769,55.9615385 C36.9230769,56.9423077 37.6730769,57.6923077 38.6538462,57.6923077 L38.6538462,57.6923077 L39.8076923,57.6923077 C40.7884615,57.6923077 41.5384615,56.9423077 41.5384615,55.9615385 L41.5384615,55.9615385 Z M43.8461538,36.9230769 L2.30769231,36.9230769 L2.30769231,47.3076923 C2.30769231,49.2115385 4.5,50.7692308 6.34615385,50.7692308 L6.34615385,50.7692308 L40.3846154,50.7692308 C42.2884615,50.7692308 43.8461538,49.2115385 43.8461538,47.3076923 L43.8461538,47.3076923 L43.8461538,36.9230769 Z M8.65384615,39.8076923 C10.5576923,39.8076923 12.1153846,41.3653846 12.1153846,43.2692308 C12.1153846,45.1730769 10.5576923,46.7307692 8.65384615,46.7307692 C6.75,46.7307692 5.19230769,45.1730769 5.19230769,43.2692308 C5.19230769,41.3653846 6.75,39.8076923 8.65384615,39.8076923 Z M37.5,39.8076923 C39.4038462,39.8076923 40.9615385,41.3653846 40.9615385,43.2692308 C40.9615385,45.1730769 39.4038462,46.7307692 37.5,46.7307692 C35.5961538,46.7307692 34.0384615,45.1730769 34.0384615,43.2692308 C34.0384615,41.3653846 35.5961538,39.8076923 37.5,39.8076923 Z M8.65384615,42.1153846 C8.01923077,42.1153846 7.5,42.6346154 7.5,43.2692308 C7.5,43.9038462 8.01923077,44.4230769 8.65384615,44.4230769 C9.28846154,44.4230769 9.80769231,43.9038462 9.80769231,43.2692308 C9.80769231,42.6346154 9.28846154,42.1153846 8.65384615,42.1153846 Z M37.5,42.1153846 C36.8653846,42.1153846 36.3461538,42.6346154 36.3461538,43.2692308 C36.3461538,43.9038462 36.8653846,44.4230769 37.5,44.4230769 C38.1346154,44.4230769 38.6538462,43.9038462 38.6538462,43.2692308 C38.6538462,42.6346154 38.1346154,42.1153846 37.5,42.1153846 Z M43.8461538,11.5384615 L2.30769231,11.5384615 L2.30769231,34.6153846 L43.8461538,34.6153846 L43.8461538,11.5384615 Z M40.3846154,2.30769231 L5.76923077,2.30769231 C3.86538462,2.30769231 2.30769231,3.86538462 2.30769231,5.76923077 L2.30769231,5.76923077 L2.30769231,9.23076923 L43.8461538,9.23076923 L43.8461538,5.76923077 C43.8461538,3.86538462 42.2884615,2.30769231 40.3846154,2.30769231 L40.3846154,2.30769231 Z M20.7692308,4.61538462 C21.4038462,4.61538462 21.9230769,5.13461538 21.9230769,5.76923077 C21.9230769,6.40384615 21.4038462,6.92307692 20.7692308,6.92307692 L20.7692308,6.92307692 L13.2692308,6.92307692 C12.6346154,6.92307692 12.1153846,6.40384615 12.1153846,5.76923077 C12.1153846,5.13461538 12.6346154,4.61538462 13.2692308,4.61538462 L13.2692308,4.61538462 Z M27.6923077,4.61538462 C28.3269231,4.61538462 28.8461538,5.13461538 28.8461538,5.76923077 C28.8461538,6.40384615 28.3269231,6.92307692 27.6923077,6.92307692 L27.6923077,6.92307692 L25.9615385,6.92307692 C25.3269231,6.92307692 24.8076923,6.40384615 24.8076923,5.76923077 C24.8076923,5.13461538 25.3269231,4.61538462 25.9615385,4.61538462 L25.9615385,4.61538462 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
               </li>
               <li class="al_color "><b>{{dashCount?.totalScheduledTrips}}</b> Scheduled Trips</li>
            </ul>
         </div>
      </div>

      <div class="col"  routerLink= "/main/trips/view-trips">
         <div class="al_box total_passenger al_p-3">
            <ul>
               <li class="al_mr" >
                  <svg width="54px" height="50px" viewBox="0 0 54 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                      <!-- <title>passenger</title> -->
                      <desc>Created with Sketch.</desc>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Data-save" transform="translate(-1141.000000, -159.000000)" fill="#C726EB" fill-rule="nonzero">
                              <g id="passenger" transform="translate(1141.000000, 159.000000)">
                                  <path d="M45.1920183,0.88199693 C46.3895574,0.09543443 47.8221746,-0.177260882 49.2245574,0.11324693 C50.6275261,0.40387193 51.8332683,1.22359849 52.6197136,2.42125474 C53.4062761,3.61891099 53.6792058,5.05094224 53.3885808,6.45391099 L53.3885808,6.45391099 L49.9065886,23.2562547 C49.7753386,23.8901219 49.1548308,24.2973485 48.5213152,24.1659813 C47.887448,24.0346141 47.4802215,23.4144579 47.6115886,22.7807079 L47.6115886,22.7807079 L51.0935808,5.97836412 C51.257409,5.18852037 51.103659,4.38203599 50.6609246,3.70773912 C50.218073,3.03344224 49.5392058,2.57184068 48.7492449,2.40824693 C47.9595183,2.24465318 47.153034,2.39828599 46.4786199,2.84090318 C45.804323,3.28375474 45.3427215,3.96262193 45.1791277,4.75258287 L45.1791277,4.75258287 L38.765573,35.7016844 C38.2047136,38.4077782 35.791823,40.3719579 33.0281902,40.3719579 L33.0281902,40.3719579 L16.3684636,40.3719579 C14.7346355,40.3719579 13.3800652,41.7002782 13.3487761,43.3329344 C13.333659,44.1265282 13.6402215,44.8844969 14.2122136,45.4675047 C14.8013152,46.0680907 15.617409,46.4123876 16.451198,46.4123876 L16.451198,46.4123876 L40.2559636,46.4123876 C41.6804949,46.4123876 42.9242058,45.4000047 43.2131902,44.0052391 L43.2131902,44.0052391 L45.7785418,31.6262547 C45.909909,30.9923876 46.530534,30.5858641 47.1638152,30.7165282 C47.7976824,30.8478954 48.204909,31.4680516 48.0735418,32.1018016 L48.0735418,32.1018016 L45.5081902,44.4806688 C44.994909,46.9578954 42.786159,48.7560204 40.2560808,48.7560204 L40.2560808,48.7560204 L34.3815886,48.7560204 L38.389284,58.3775829 C38.5398699,58.7392235 38.4997918,59.1523094 38.2825261,59.4783251 C38.0652605,59.8042235 37.6994011,60.0000438 37.3075261,60.0000438 L37.3075261,60.0000438 L19.2298308,60.0000438 C18.838073,60.0000438 18.4720965,59.8042235 18.2548308,59.4783251 C18.0375652,59.1521922 17.9974871,58.7392235 18.148073,58.3775829 L18.148073,58.3775829 L22.1557683,48.7560204 L16.4513152,48.7560204 C14.9922136,48.7560204 13.5662761,48.1556688 12.5392449,47.1088329 C12.4825261,47.0509422 12.4277996,46.9917626 12.3740105,46.9319969 L12.3740105,46.9319969 L9.65572927,57.3652001 C9.25166677,58.916411 7.84975271,60.0000438 6.24651052,60.0000438 L6.24651052,60.0000438 L3.52494802,60.0000438 C2.42561209,60.0000438 1.40947927,59.5010594 0.737291775,58.6311766 C0.0649870872,57.761411 -0.16153635,56.6523485 0.115612087,55.5885204 L0.115612087,55.5885204 L2.07276052,48.0766844 C2.23588552,47.4504344 2.87572927,47.0746141 3.50221365,47.2382079 C4.12834646,47.4013329 4.5039324,48.0412938 4.34069021,48.667661 L4.34069021,48.667661 L2.38354177,56.1794969 C2.29084646,56.5355126 2.36654959,56.9067626 2.59166677,57.1978563 C2.81666677,57.4890672 3.1567449,57.6560594 3.52483084,57.6560594 L3.52483084,57.6560594 L6.24651052,57.6560594 C6.78311209,57.6560594 7.25244802,57.2934813 7.3876824,56.7742235 L7.3876824,56.7742235 L10.9771355,42.9975438 C10.9921355,42.9397704 11.0125261,42.8850438 11.0352605,42.8317235 C11.3190886,40.1444969 13.6206511,38.0282079 16.3683465,38.0282079 L16.3683465,38.0282079 L33.0279558,38.0282079 C34.6860418,38.0282079 36.1338933,36.8496532 36.4704558,35.2260204 L36.4704558,35.2260204 L39.4083465,21.0496141 L39.4083465,21.0496141 L39.412448,21.0233641 C39.6897136,19.6852001 39.429323,18.3192626 38.6792058,17.1769188 C37.9290886,16.0346922 36.7790105,15.2528172 35.4408465,14.9755516 C34.1032683,14.6980516 32.7370965,14.9585594 31.5947527,15.7086766 C30.4522918,16.458911 29.6702996,17.6089891 29.393034,18.9471532 L29.393034,18.9471532 L29.1354558,20.2302391 L30.3076824,19.0512157 C30.7640105,18.5920751 31.5059246,18.5902001 31.964948,19.046411 C32.4238543,19.5028563 32.4260808,20.2448876 31.9696355,20.7037938 L31.9696355,20.7037938 L25.2617058,27.4502782 C25.0417449,27.671411 24.7426824,27.7958641 24.4307293,27.7958641 L24.4307293,27.7958641 L14.7962761,27.7958641 C13.9978777,27.7958641 13.3481902,28.4455516 13.3481902,29.2439501 C13.3481902,30.0423485 13.9978777,30.692036 14.7962761,30.692036 L14.7962761,30.692036 L27.020573,30.692036 L32.6091277,25.0462938 C33.0644011,24.5863329 33.8063152,24.5824657 34.2663933,25.0379735 C34.7263543,25.4932469 34.7301043,26.2352782 34.2747136,26.6952391 L34.2747136,26.6952391 L28.3422136,32.6884422 C28.1222527,32.9108641 27.8223699,33.0359032 27.5094793,33.0359032 L27.5094793,33.0359032 L10.3425652,33.0359032 C9.20690115,33.0359032 8.21350271,33.8035985 7.92709646,34.9028172 L7.92709646,34.9028172 L6.5439324,40.2111766 C6.40658865,40.7384032 5.93115896,41.0877391 5.41072927,41.0878563 C5.31287771,41.0878563 5.2136199,41.0755516 5.11447927,41.0496532 C4.48822927,40.8865282 4.11276052,40.2465672 4.27600271,39.6202001 L4.27600271,39.6202001 L5.65916677,34.3118407 C6.21440115,32.1805516 8.14037771,30.6921532 10.3425652,30.6921532 L10.3425652,30.6921532 L11.2924871,30.6921532 C11.1072136,30.2456688 11.0044402,29.7567626 11.0044402,29.2440672 C11.0044402,27.1533251 12.7054168,25.4522313 14.7962761,25.4522313 L14.7962761,25.4522313 L23.9433465,25.4522313 L26.1406121,23.2424266 L27.0967449,18.4787547 C27.5026824,16.5205516 28.6426824,14.8435985 30.3083855,13.7497704 C30.7553386,13.4562157 31.2264324,13.2158641 31.7132293,13.0266063 C30.3901824,11.7886376 29.5609636,10.0288329 29.5609636,8.07812974 L29.5609636,8.07812974 L29.5609636,7.05848131 C29.5609636,3.32008287 32.6023308,0.278598493 36.3408465,0.278598493 C39.3169402,0.278598493 41.8494793,2.20691881 42.759323,4.87914537 L42.759323,4.87914537 L42.8840105,4.27715318 C43.1746355,2.87418443 43.9943621,1.66844224 45.1920183,0.88199693 Z M31.8424871,48.7559032 L24.6946355,48.7559032 L20.9872918,57.6561766 L35.5498308,57.6561766 L31.8424871,48.7559032 Z M4.35369802,42.7982079 C4.66201834,42.7982079 4.96436209,42.9237157 5.18221365,43.1415672 C5.40029959,43.359536 5.52557302,43.6618797 5.52557302,43.9700829 C5.52557302,44.2793407 5.4001824,44.5816844 5.18221365,44.7985985 C4.96307302,45.0176219 4.66201834,45.1419579 4.35369802,45.1419579 C4.0454949,45.1419579 3.74315115,45.0176219 3.52529959,44.7985985 C3.30721365,44.5806297 3.18182302,44.2794579 3.18182302,43.9700829 C3.18182302,43.6618797 3.30733084,43.3607079 3.52529959,43.1415672 C3.74315115,42.9235985 4.0454949,42.7982079 4.35369802,42.7982079 Z M47.8813543,26.0839891 C48.1894402,26.0839891 48.4907293,26.2092626 48.7098699,26.4273485 C48.9278386,26.6453172 49.0532293,26.947661 49.0532293,27.2558641 C49.0532293,27.5640672 48.9277215,27.866411 48.7098699,28.0842626 C48.4919011,28.3023485 48.1895574,28.4277391 47.8813543,28.4277391 C47.5720965,28.4277391 47.2697527,28.3022313 47.0528386,28.0842626 C46.833698,27.866411 46.7084246,27.5640672 46.7084246,27.2558641 C46.7084246,26.947661 46.833698,26.6453172 47.0528386,26.4273485 C47.2708074,26.2092626 47.5719793,26.0839891 47.8813543,26.0839891 Z M41.096198,12.9048485 C40.5381511,13.4546922 39.8852996,13.9078563 39.1650652,14.2393797 C39.6737761,14.6620751 40.1267058,15.1564891 40.5144793,15.7118407 L40.5144793,15.7118407 Z M36.3407293,2.62211412 C33.8946746,2.62211412 31.9045965,4.61219224 31.9045965,7.05836412 L31.9045965,7.05836412 L31.9045965,8.07801256 C31.9045965,10.5240672 33.8945574,12.5141454 36.3407293,12.5141454 C38.7869011,12.5141454 40.7769793,10.5240672 40.7768621,8.07801256 L40.7768621,8.07801256 L40.7768621,7.05836412 C40.7768621,4.61219224 38.7869011,2.62211412 36.3407293,2.62211412 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
               </li>
               <li class="al_color "><b>{{dashCount?.totalRevenue || 0}}</b> Total Revenue</li>
            </ul>
         </div>
      </div>

   </div>




</div>