.main-container {
    background-color: #F5F8FF;
}
.sidebar ul {
    height:  100vh;
    background-color: #8897A9;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.right_side {
    background-color: blue;
}

.sidebar li {
    list-style: none;
    margin-top: 5px;
   
}
.sidebar li a {
    color: white;
    cursor: pointer;
    display: block;
    text-decoration: none;
    height: 50px;
    padding: 14px;
    font-weight: 300;
}
a.selected {
background-color: #5E738C;
font-weight: 800;
border-left: 5px solid #D6B7B5;
}


.sidebar li img {
    width: 24px;
}
.sidebar li span {
    padding: 10px;
}
p.side_label {
    font-size: 24px;
    margin-left: 23px;
    font-weight: 300;
}
p.side_label1 {
    margin-top: 50px;
    font-size: 24px;
    margin-left:24px;
}

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #D6B7B5;
	border: 1px solid #D6B7B5;
}
