<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container"> 
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar" id="">
               
                <ul class="scrollbar" id="style-4">
                    <p class="side_label" for="">MENU</p>
                    <li *ngFor="let item of MENUITEMS; index as i">
                        <a  (click)="activeRoute(i)" [routerLink]="[item.state]" routerLinkActive="selected" >
                    <span *ngIf="readLocalStorageValue('side0909')  !== i"><img [src]="item.iconUrl"></span> 
                    <span *ngIf="readLocalStorageValue('side0909') == i"><img [src]="item.iconUrlActive"></span> 
                        
                        <span>{{item.name}}</span></a>
                    </li>
                    <p class="side_label1">ACCOUNTS</p>
                    <li *ngFor="let item of MENUACCOUNT;let k = index;">
                        
                        <a  (click)="activeSetting(k)" [routerLink]="[item.state]" routerLinkActive="selected" >
                    <span *ngIf="readLocalStorageValue('side0908')  !== k"><img [src]="item.iconUrl"></span> 
                    <span *ngIf="readLocalStorageValue('side0908') == k"><img [src]="item.iconUrlActive"></span> 
                        
                        <span>{{item.name}}</span></a>
                    </li>
                    <li>
                        
                        <a  (click)="logOut()">
                    <span><img src="../../../assets/images/logout.png"></span> 
                                       
                        <span>Log Out</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>

</div>