<div class="row mt-4">
    <div class="col-md outer">
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="../../../assets/images/heart_unselect.png" alt="">
            </div>
            <div class="col-md-4"><img class="connect_img" src="../../../assets/images/login_bg.jpg"></div>
            <div class="col-md-4"></div>
        </div>
        <p class="label-name">Noah Osborne</p>
        <p class="label-type">Noah Osborne</p>
        <p class="label-desc">Deeo Deop Deeo DeopDeeo DeopDeeo DeopDeeo DeopDeeo Deop Deeo DeopDeeo Deop</p>
        <p class="label-prodcast">PRODCASTS</p>
        <p><button class="sub_btn">CONNECT</button></p>
    </div>
    <div class="col-md outer">
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="../../../assets/images/heart_unselect.png" alt="">
            </div>
            <div class="col-md-4"><img class="connect_img" src="../../../assets/images/login_bg.jpg"></div>
            <div class="col-md-4"></div>
        </div>
        <p class="label-name">Noah Osborne</p>
        <p class="label-type">Noah Osborne</p>
        <p class="label-desc">Deeo Deop Deeo DeopDeeo DeopDeeo DeopDeeo DeopDeeo Deop Deeo DeopDeeo Deop</p>
        <p class="label-guest">GUEST</p>
        <p><button class="sub_btn">CONNECT</button></p>
    </div>
    <div class="col-md outer">
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="../../../assets/images/heart_unselect.png" alt="">
                <!-- <img src="../../../assets/images/heart_unselect.png" alt=""> -->
            </div>
            <div class="col-md-4"><img class="connect_img" src="../../../assets/images/login_bg.jpg"></div>
            <div class="col-md-4">  
            <div class="dropdown">
                <em class="icon"  data-toggle="dropdown" ></em>
                <div class="dropdown-menu  dropdown-menu-left">
                    <div class="dropdown-item">
                        <div class="dropdown-item-text" (click)="reportUser(partner.userId)">Report</div>
                    </div>
                </div>
            </div> </div>
        </div>
        <p class="label-name">Noah Osborne</p>
        <p class="label-type">Noah Osborne</p>
        <p class="label-desc">Deeo Deop Deeo DeopDeeo DeopDeeo DeopDeeo DeopDeeo Deop Deeo DeopDeeo Deop</p>
        <p class="label-prodcast">PRODCASTS</p>
        <p><button class="sub_btn">CONNECT</button></p>
    </div>
</div>