.outer {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 7px #00000057;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.connect_img {
    width: 104px;
    border-radius: 50%;
    height: 104px;
}
.label-name {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}
.label-type {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}
.label-text {
    font-size: 16px;
    color: #777777;
}
.label-prodcast {
    color: #15B162;
}
.label-guest {
    color: #D6B7B5;
}
