
@import"./assets/styles/variable.scss";
.sub_btn {
    width: 235px;
    height: 50px;
    padding: 6px;
    background-color: $btn_bg_cl;
    color:$btn_cl;
    border-radius: 6px;
    border: none;
  }
  .sub_btn:hover {
    background-color: $sub_btn_hovar
  }